In [26]:
import pandas as pd
import numpy as np

In [27]:
ops = pd.read_csv('sampledPerformance.csv')
inputs = pd.read_csv('sampleacq.csv')

In [10]:
ops.columns.values

array(['loanID', 'monthlyReportingPeriod', 'servicerName', 'currIntRate',
       'currActualUPB', 'loanAge', 'remainingMonthsToLegalMaturity',
       'adjustedMonthsToMaturity', 'maturityDate', 'msa',
       'currLoanDelinquencyStatus', 'modFlag', 'zeroBalCode',
       'zeroBalEffDate', 'lastPaidInstallmentDate', 'foreclosureDate',
       'dispositionDate', 'foreclosureCosts',
       'propertyPreservationAndRepairCosts', 'assetRecoveryCosts',
       'miscHoldingExpnAndCredits', 'assocTaxesForHoldingProperty',
       'netSaleProceeds', 'creditEnhancementProceeds',
       'repurchaseMakeWholeProceeds', 'otherForeclosureProceeds',
       'nonInterestBearingUPB', 'principalForgivenessAmt',
       'repurchaseMakeWholeProceedsFlag',
       'foreclosurePrincipalWriteOffAmt', 'ServicingActivityIndicator'], dtype=object)

In [11]:
op_r = ops.iloc[:,[0,10,12,15]]

In [12]:
op_r.columns.values

array(['loanID', 'currLoanDelinquencyStatus', 'zeroBalCode',
       'foreclosureDate'], dtype=object)

In [13]:
op_r.describe

<bound method NDFrame.describe of               loanID currLoanDelinquencyStatus  zeroBalCode foreclosureDate
0       100007365142                         0          NaN             NaN
1       100007365142                         0          NaN             NaN
2       100007365142                         0          NaN             NaN
3       100007365142                         0          NaN             NaN
4       100007365142                         0          NaN             NaN
5       100007365142                         0          NaN             NaN
6       100007365142                         0          NaN             NaN
7       100007365142                         0          NaN             NaN
8       100007365142                         0          NaN             NaN
9       100007365142                         0          NaN             NaN
10      100007365142                         0          NaN             NaN
11      100007365142                         0          NaN             NaN
12      100007365142                         0          NaN             NaN
13      100007365142                         0          NaN             NaN
14      100007365142                         0          NaN             NaN
15      100007365142                         0          NaN             NaN
16      100007365142                         0          NaN             NaN
17      100007365142                         0          NaN             NaN
18      100007365142                         0          NaN             NaN
19      100007365142                         0          NaN             NaN
20      100007365142                         0          NaN             NaN
21      100007365142                         0          NaN             NaN
22      100007365142                         0          NaN             NaN
23      100007365142                         0          NaN             NaN
24      100007365142                         0          NaN             NaN
25      100007365142                         0          NaN             NaN
26      100007365142                         0          NaN             NaN
27      100007365142                         0          NaN             NaN
28      100007365142                         0          NaN             NaN
29      100007365142                         0          NaN             NaN
...              ...                       ...          ...             ...
179970  136183282711                         0          NaN             NaN
179971  136183282711                         0          NaN             NaN
179972  136183282711                         X          1.0             NaN
179973  136194001470                         0          NaN             NaN
179974  136194001470                         0          NaN             NaN
179975  136194001470                         0          NaN             NaN
179976  136194001470                         0          NaN             NaN
179977  136194001470                         0          NaN             NaN
179978  136194001470                         0          NaN             NaN
179979  136194001470                         0          NaN             NaN
179980  136194001470                         0          NaN             NaN
179981  136194001470                         0          NaN             NaN
179982  136194001470                         0          NaN             NaN
179983  136194001470                         0          NaN             NaN
179984  136194001470                         0          NaN             NaN
179985  136194001470                         0          NaN             NaN
179986  136194001470                         0          NaN             NaN
179987  136194001470                         0          NaN             NaN
179988  136194001470                         0          NaN             NaN
179989  136194001470                         0          NaN             NaN
179990  136194001470                         0          NaN             NaN
179991  136194001470                         0          NaN             NaN
179992  136194001470                         0          NaN             NaN
179993  136194001470                         0          NaN             NaN
179994  136194001470                         1          NaN             NaN
179995  136194001470                         0          NaN             NaN
179996  136194001470                         0          NaN             NaN
179997  136194001470                         0          NaN             NaN
179998  136194001470                         0          NaN             NaN
179999  136194001470                         X          1.0             NaN

[180000 rows x 4 columns]>

In [14]:
op_r[op_r['foreclosureDate'].notnull()]

              loanID currLoanDelinquencyStatus  zeroBalCode foreclosureDate
2956    100579898395                       NaN          9.0      08/01/2003
3586    100687390672                       NaN          9.0      12/01/2000
13021   102735376578                       NaN          9.0      06/01/2003
18544   103968872789                       NaN          2.0      05/01/2004
26010   105636641858                       NaN          9.0      09/01/2005
35631   107381453576                       NaN          2.0      06/01/2006
35861   107444903718                       NaN          3.0      01/01/2006
39099   108038840434                       NaN          9.0      10/01/2005
39953   108289145545                       NaN          9.0      04/01/2002
41860   108658987055                       NaN          9.0      07/01/2013
42487   108814423001                       NaN          9.0      08/01/2001
45607   109402126387                       NaN          9.0      01/01/2001
47899   109813929628                       NaN          2.0      09/01/2002
49382   110088715984                       NaN          2.0      06/01/2002
53031   110769371271                       NaN          9.0      01/01/2005
55364   111067145927                       NaN          9.0      08/01/2002
56657   111265059973                       NaN          9.0      07/01/2005
58380   111621053236                       NaN          9.0      11/01/2002
60191   111961219577                       NaN          9.0      11/01/2001
60480   112003790876                       NaN          9.0      03/01/2013
63502   112682010880                       NaN          9.0      04/01/2007
64259   112809613481                       NaN          2.0      01/01/2010
70717   114223571808                       NaN          9.0      04/01/2001
73343   114930055454                       NaN          9.0      10/01/2009
75001   115206942704                       NaN          9.0      11/01/2003
79093   115991228647                       NaN          2.0      01/01/2004
80705   116256949025                       NaN          9.0      10/01/2003
81476   116393191791                       NaN          2.0      07/01/2012
82971   116765501652                       NaN          9.0      09/01/2006
86242   117381702905                       NaN          9.0      08/01/2013
92227   118774105562                       NaN          9.0      08/01/2001
101735  120534949069                       NaN          9.0      12/01/2006
105960  121631997569                       NaN          9.0      09/01/2002
106109  121653798228                       NaN          9.0      09/01/2008
107330  121879781644                       NaN          9.0      10/01/2000
110336  122477995221                       NaN          9.0      02/01/2005
110370  122491725305                       NaN          9.0      11/01/2001
111867  122842507187                       NaN          9.0      10/01/2001
112314  122928282227                       NaN          9.0      01/01/2011
112656  122973316304                       NaN          9.0      02/01/2004
113470  123240180171                       NaN          9.0      11/01/2004
116193  123617946960                       NaN          9.0      06/01/2002
119799  124402615738                       NaN          9.0      02/01/2001
120307  124494968639                       NaN          2.0      07/01/2007
125794  125466351191                       NaN          9.0      04/01/2006
127680  125868289409                       NaN          9.0      11/01/2000
129481  126198647454                       NaN          2.0      07/01/2016
134399  127242478836                       NaN          9.0      01/01/2001
136157  127552133559                       NaN          9.0      08/01/2009
148502  130287258178                       NaN          3.0      05/01/2003
154189  131381110204                       NaN          9.0      02/01/2011
165098  133370197031                       NaN          9.0      08/01/2002
165873  133574338199                       NaN          9.0      04/01/2006
169700  134446534970                       NaN          9.0      08/01/2012
170700  134623029234                       NaN          9.0      06/01/2002
172956  135007705269                       NaN          9.0      01/01/2006
173942  135143659026                       NaN          9.0      03/01/2002
174214  135162263131                       NaN          9.0      07/01/2003
177876  135844084105                       NaN          9.0      03/01/2012
178025  135880521796                       NaN          9.0      03/01/2003

In [16]:
foreclosed_loanids = op_r[op_r['foreclosureDate'].notnull()]['loanID']

In [22]:
len(foreclosed_loanids)

60

In [28]:
inputs.describe

<bound method NDFrame.describe of             loanID origChannel                                 sellerName  \
0     100007365142           R                    JPMORGAN CHASE BANK  NA
1     100007386460           B                    JPMORGAN CHASE BANK  NA
2     100023274028           R  FIRST TENNESSEE BANK NATIONAL ASSOCIATION
3     100026859568           C  FIRST TENNESSEE BANK NATIONAL ASSOCIATION
4     100028993931           R                     WELLS FARGO BANK  N.A.
5     100035719682           R                   JP MORGAN CHASE BANK  NA
6     100048724218           B                    JPMORGAN CHASE BANK  NA
7     100057706656           B                         FLAGSTAR BANK  FSB
8     100079064875           R                         GMAC MORTGAGE  LLC
9     100088638564           R                  USAA FEDERAL SAVINGS BANK
10    100094030068           C                         CITIMORTGAGE  INC.
11    100100228738           R                    JPMORGAN CHASE BANK  NA
12    100119700071           R                     WELLS FARGO BANK  N.A.
13    100122893931           R                                      OTHER
14    100132383737           C                      BANK OF AMERICA  N.A.
15    100135299882           R                      BANK OF AMERICA  N.A.
16    100138190869           R                         CITIMORTGAGE  INC.
17    100151690382           R                    JPMORGAN CHASE BANK  NA
18    100162317966           C                    JPMORGAN CHASE BANK  NA
19    100178281207           R                     WELLS FARGO BANK  N.A.
20    100185534396           C                         FLAGSTAR BANK  FSB
21    100191284472           R  JPMORGAN CHASE BANK  NATIONAL ASSOCIATION
22    100199760845           B                                      OTHER
23    100201079370           B  FIRST TENNESSEE BANK NATIONAL ASSOCIATION
24    100205888542           R                                      OTHER
25    100207354995           B                    JPMORGAN CHASE BANK  NA
26    100223375008           R                      BANK OF AMERICA  N.A.
27    100244595640           B                                      OTHER
28    100247319272           B                         FLAGSTAR BANK  FSB
29    100249783497           R                   JP MORGAN CHASE BANK  NA
...            ...         ...                                        ...
4862  136039025140           R                                      OTHER
4863  136051668402           B                               REGIONS BANK
4864  136055739489           R                                      OTHER
4865  136057137402           R                                      OTHER
4866  136062095199           C                     SUNTRUST MORTGAGE INC.
4867  136062323173           R                                      OTHER
4868  136064564132           R                                      OTHER
4869  136065103119           R                         GMAC MORTGAGE  LLC
4870  136066426891           C                                      OTHER
4871  136070112367           C                    JPMORGAN CHASE BANK  NA
4872  136070614541           C                   NETBANK FUNDING SERVICES
4873  136072403764           R              HARWOOD STREET FUNDING I  LLC
4874  136084194283           C                         FLAGSTAR BANK  FSB
4875  136092371504           B                      BANK OF AMERICA  N.A.
4876  136099222845           C                    JPMORGAN CHASE BANK  NA
4877  136102778652           C                   NETBANK FUNDING SERVICES
4878  136103052573           B                    JPMORGAN CHASE BANK  NA
4879  136106219452           C                               AMTRUST BANK
4880  136108451635           C                    JPMORGAN CHASE BANK  NA
4881  136113890965           C                                      OTHER
4882  136130370173           B  JPMORGAN CHASE BANK  NATIONAL ASSOCIATION
4883  136143644395           C                         FLAGSTAR BANK  FSB
4884  136145207235           C                   NETBANK FUNDING SERVICES
4885  136159181710           R    BISHOPS GATE RESIDENTIAL MORTGAGE TRUST
4886  136160263134           R                    JPMORGAN CHASE BANK  NA
4887  136161235451           C                      BANK OF AMERICA  N.A.
4888  136163023681           B                      BANK OF AMERICA  N.A.
4889  136174893885           R                                      OTHER
4890  136183282711           C                         GMAC MORTGAGE  LLC
4891  136194001470           C                    JPMORGAN CHASE BANK  NA

      origIntRate  orgUPB  orgLoanTerm orginationDate firstPaymentDate  \
0           8.000   75000          360        12/1999          02/2000
1           7.875   55000          180        01/2000          03/2000
2           8.000  130000          360        01/2000          03/2000
3           8.375  107000          360        02/2000          04/2000
4           8.000   37000          180        02/2000          04/2000
5           8.000   60000          360        01/2000          03/2000
6           7.750  153000          360        12/1999          02/2000
7           8.250  137000          360        12/1999          02/2000
8           8.375  175000          360        01/2000          03/2000
9           8.250  202000          360        01/2000          03/2000
10          7.750  152000          360        11/1999          01/2000
11          8.000   84000          360        01/2000          03/2000
12          8.125  126000          360        11/1999          01/2000
13          7.500   90000          360        12/1999          02/2000
14          7.625  165000          360        12/1999          02/2000
15          8.125  129000          360        01/2000          03/2000
16          8.375   49000          360        01/2000          03/2000
17          8.125  155000          360        12/1999          02/2000
18          7.875   82000          360        12/1999          02/2000
19          7.875   54000          360        12/1999          02/2000
20          7.875  153000          360        12/1999          01/2000
21          8.125   89000          360        12/1999          02/2000
22          7.625  180000          180        01/2000          03/2000
23          8.875   59000          360        02/2000          04/2000
24          7.500  240000          360        01/2000          02/2000
25          7.875   74000          360        01/2000          03/2000
26          8.250  121000          360        02/2000          04/2000
27          8.625  110000          360        02/2000          04/2000
28          8.000  147000          360        12/1999          02/2000
29          7.625  108000          360        12/1999          02/2000
...           ...     ...          ...            ...              ...
4862        7.500  225000          360        01/2000          03/2000
4863        8.125   90000          360        12/1999          02/2000
4864        7.250  155000          360        11/1999          01/2000
4865        8.250  119000          360        02/2000          04/2000
4866        7.625  126000          360        11/1999          01/2000
4867        8.625   44000          360        01/2000          03/2000
4868        8.750   40000          360        12/1999          02/2000
4869        7.875   78000          240        12/1999          02/2000
4870        8.000  181000          360        01/2000          03/2000
4871        7.750  112000          180        02/2000          04/2000
4872        8.125  150000          360        12/1999          02/2000
4873        7.750   96000          360        02/2000          04/2000
4874        7.500  121000          180        01/2000          03/2000
4875        8.750  126000          360        02/2000          04/2000
4876        7.750   41000          360        11/1999          01/2000
4877        7.625   90000          360        12/1999          02/2000
4878        8.125  125000          360        01/2000          03/2000
4879        7.500   63000          180        11/1999          01/2000
4880        7.375  198000          360        11/1999          01/2000
4881        7.625  174000          360        12/1999          01/2000
4882        8.125   63000          360        12/1999          02/2000
4883        8.000   86000          360        01/2000          03/2000
4884        8.125  212000          360        01/2000          03/2000
4885        7.250  149000          180        02/2000          04/2000
4886        7.250  180000          180        02/2000          04/2000
4887        7.625  160000          360        12/1999          02/2000
4888        7.750   40000          360        02/2000          04/2000
4889        7.875  155000          360        01/2000          03/2000
4890        7.375   71000          360        01/2000          03/2000
4891        7.875  156000          360        12/1999          02/2000

      orgLTV  orgCombinedLTV  ...  propType  numUnits  occType propertyState  \
0         79             NaN  ...        SF         1        P            PA
1         69             NaN  ...        CO         1        P            MD
2         61             NaN  ...        SF         1        P            GA
3         95             NaN  ...        SF         1        P            MO
4         63             NaN  ...        SF         1        P            NC
5         97             NaN  ...        SF         1        P            MI
6         80             NaN  ...        SF         1        S            OR
7         80             NaN  ...        SF         1        P            OH
8         80             NaN  ...        SF         1        P            CO
9         80             NaN  ...        SF         1        P            OH
10        85             NaN  ...        SF         1        P            NV
11        75             NaN  ...        SF         1        P            IN
12        95             NaN  ...        SF         1        P            FL
13        90             NaN  ...        SF         1        P            HI
14        80             NaN  ...        SF         1        P            TN
15        93             NaN  ...        SF         1        P            LA
16        31             NaN  ...        SF         1        P            CA
17        83             NaN  ...        SF         1        P            NY
18        95             NaN  ...        SF         1        P            TX
19        80             NaN  ...        SF         1        P            FL
20        94             NaN  ...        SF         1        P            AL
21        97             NaN  ...        SF         1        P            FL
22        75             NaN  ...        CO         1        P            IL
23        73             NaN  ...        SF         1        P            CA
24        80             NaN  ...        SF         1        P            VA
25        80             NaN  ...        SF         1        P            ID
26        71             NaN  ...        PU         1        P            CA
27        88             NaN  ...        SF         1        P            TX
28        80             NaN  ...        SF         1        P            CA
29        63             NaN  ...        SF         1        P            MI
...      ...             ...  ...       ...       ...      ...           ...
4862      79             NaN  ...        SF         1        P            CA
4863      80             NaN  ...        SF         1        P            MS
4864      75             NaN  ...        SF         1        P            MI
4865      95             NaN  ...        SF         1        P            AR
4866      80             NaN  ...        SF         1        P            NC
4867      42             NaN  ...        SF         1        P            NC
4868      97             NaN  ...        SF         1        P            TX
4869      71             NaN  ...        SF         1        P            MO
4870      78             NaN  ...        SF         2        P            IL
4871      78             NaN  ...        SF         1        P            NC
4872      72             NaN  ...        SF         1        P            MA
4873      80             NaN  ...        SF         1        P            TX
4874      80             NaN  ...        SF         1        P            LA
4875      97             NaN  ...        SF         1        P            NC
4876      63             NaN  ...        SF         1        P            OK
4877      80             NaN  ...        SF         1        P            KY
4878      76             NaN  ...        SF         1        P            LA
4879      75             NaN  ...        SF         1        P            NC
4880      95             NaN  ...        SF         1        P            RI
4881      80             NaN  ...        SF         1        P            FL
4882      90             NaN  ...        SF         1        P            MA
4883      80             NaN  ...        SF         1        P            ME
4884      80             NaN  ...        SF         1        P            MA
4885      55             NaN  ...        SF         1        P            CA
4886      90             NaN  ...        SF         1        P            CA
4887      80             NaN  ...        SF         1        P            GA
4888      58             NaN  ...        SF         1        P            RI
4889      71             NaN  ...        SF         1        P            VA
4890      77             NaN  ...        SF         1        P            KY
4891      80             NaN  ...        PU         1        P            TX

     zipCodeShort priMortgageInsurancePercent  prodType  \
0             173                         NaN       FRM
1             208                         NaN       FRM
2             300                         NaN       FRM
3             633                        25.0       FRM
4             286                         NaN       FRM
5             491                        35.0       FRM
6             977                         NaN       FRM
7             450                         NaN       FRM
8             812                         NaN       FRM
9             442                         NaN       FRM
10            891                        25.0       FRM
11            462                         NaN       FRM
12            333                        30.0       FRM
13            967                        25.0       FRM
14            370                         NaN       FRM
15            704                        30.0       FRM
16            908                         NaN       FRM
17            125                        17.0       FRM
18            750                        25.0       FRM
19            338                         NaN       FRM
20            352                        25.0       FRM
21            342                        30.0       FRM
22            606                         NaN       FRM
23            954                         NaN       FRM
24            234                         NaN       FRM
25            835                         NaN       FRM
26            957                         NaN       FRM
27            762                        25.0       FRM
28            917                         NaN       FRM
29            493                         NaN       FRM
...           ...                         ...       ...
4862          948                         NaN       FRM
4863          390                         NaN       FRM
4864          480                         NaN       FRM
4865          727                        25.0       FRM
4866          272                         NaN       FRM
4867          286                         NaN       FRM
4868          775                        30.0       FRM
4869          630                         NaN       FRM
4870          606                         NaN       FRM
4871          277                         NaN       FRM
4872           23                         NaN       FRM
4873          765                         NaN       FRM
4874          705                         NaN       FRM
4875          278                        35.0       FRM
4876          740                         NaN       FRM
4877          404                         NaN       FRM
4878          707                         NaN       FRM
4879          275                         NaN       FRM
4880           28                        30.0       FRM
4881          337                         NaN       FRM
4882           17                        25.0       FRM
4883           40                         NaN       FRM
4884           20                         NaN       FRM
4885          910                         NaN       FRM
4886          940                        25.0       FRM
4887          300                         NaN       FRM
4888           29                         NaN       FRM
4889          221                         NaN       FRM
4890          402                         NaN       FRM
4891          787                         NaN       FRM

     coBorrowerCreditScoreAtOrigination mortInsType  reloMortIndicator
0                                   NaN         NaN                  N
1                                   NaN         NaN                  N
2                                 782.0         NaN                  N
3                                   NaN         1.0                  N
4                                   NaN         NaN                  N
5                                   NaN         1.0                  N
6                                   NaN         NaN                  N
7                                   NaN         NaN                  N
8                                 791.0         NaN                  N
9                                 686.0         NaN                  N
10                                  NaN         1.0                  N
11                                671.0         NaN                  N
12                                653.0         1.0                  N
13                                  NaN         1.0                  N
14                                745.0         NaN                  N
15                                698.0         2.0                  N
16                                  NaN         NaN                  N
17                                647.0         1.0                  N
18                                  NaN         1.0                  N
19                                  NaN         NaN                  N
20                                  NaN         1.0                  N
21                                  NaN         1.0                  N
22                                751.0         NaN                  N
23                                689.0         NaN                  N
24                                741.0         NaN                  N
25                                  NaN         NaN                  N
26                                717.0         NaN                  N
27                                752.0         1.0                  N
28                                798.0         NaN                  N
29                                  NaN         NaN                  N
...                                 ...         ...                ...
4862                                NaN         NaN                  N
4863                                NaN         NaN                  N
4864                                NaN         NaN                  N
4865                                NaN         1.0                  N
4866                              744.0         NaN                  N
4867                                NaN         NaN                  N

In [29]:
inputs.columns.values

array(['loanID', 'origChannel', 'sellerName', 'origIntRate', 'orgUPB',
       'orgLoanTerm', 'orginationDate', 'firstPaymentDate', 'orgLTV',
       'orgCombinedLTV', 'numBorrowers', 'orgDebttoIncomeRatio',
       'borrowerCreditScoreAtOrigination', 'firstTimeHomeBuyer',
       'loanPurpose', 'propType', 'numUnits', 'occType', 'propertyState',
       'zipCodeShort', 'priMortgageInsurancePercent', 'prodType',
       'coBorrowerCreditScoreAtOrigination', 'mortInsType',
       'reloMortIndicator'], dtype=object)

In [70]:
124494968639 in foreclosed_loanids.tolist()

True

In [71]:
inputs['foreclosed'] = ['yes' if x in foreclosed_loanids.tolist() else 'no' for x in inputs['loanID']]

In [72]:
inputs.groupby('foreclosed').count()

,loanID,origChannel,sellerName,origIntRate,orgUPB,orgLoanTerm,orginationDate,firstPaymentDate,orgLTV,orgCombinedLTV,...,propType,numUnits,occType,propertyState,zipCodeShort,priMortgageInsurancePercent,prodType,coBorrowerCreditScoreAtOrigination,mortInsType,reloMortIndicator
foreclosed,,,,,,,,,,,,,,,,,,,,,
no,4832,4832,4832,4832,4832,4832,4832,4832,4832,18,...,4832,4832,4832,4832,4832,1574,4832,2475,1574,4832
yes,60,60,60,60,60,60,60,60,60,0,...,60,60,60,60,60,31,60,17,31,60

In [73]:
inputs.describe

<bound method NDFrame.describe of             loanID origChannel                                 sellerName  \
0     100007365142           R                    JPMORGAN CHASE BANK  NA
1     100007386460           B                    JPMORGAN CHASE BANK  NA
2     100023274028           R  FIRST TENNESSEE BANK NATIONAL ASSOCIATION
3     100026859568           C  FIRST TENNESSEE BANK NATIONAL ASSOCIATION
4     100028993931           R                     WELLS FARGO BANK  N.A.
5     100035719682           R                   JP MORGAN CHASE BANK  NA
6     100048724218           B                    JPMORGAN CHASE BANK  NA
7     100057706656           B                         FLAGSTAR BANK  FSB
8     100079064875           R                         GMAC MORTGAGE  LLC
9     100088638564           R                  USAA FEDERAL SAVINGS BANK
10    100094030068           C                         CITIMORTGAGE  INC.
11    100100228738           R                    JPMORGAN CHASE BANK  NA
12    100119700071           R                     WELLS FARGO BANK  N.A.
13    100122893931           R                                      OTHER
14    100132383737           C                      BANK OF AMERICA  N.A.
15    100135299882           R                      BANK OF AMERICA  N.A.
16    100138190869           R                         CITIMORTGAGE  INC.
17    100151690382           R                    JPMORGAN CHASE BANK  NA
18    100162317966           C                    JPMORGAN CHASE BANK  NA
19    100178281207           R                     WELLS FARGO BANK  N.A.
20    100185534396           C                         FLAGSTAR BANK  FSB
21    100191284472           R  JPMORGAN CHASE BANK  NATIONAL ASSOCIATION
22    100199760845           B                                      OTHER
23    100201079370           B  FIRST TENNESSEE BANK NATIONAL ASSOCIATION
24    100205888542           R                                      OTHER
25    100207354995           B                    JPMORGAN CHASE BANK  NA
26    100223375008           R                      BANK OF AMERICA  N.A.
27    100244595640           B                                      OTHER
28    100247319272           B                         FLAGSTAR BANK  FSB
29    100249783497           R                   JP MORGAN CHASE BANK  NA
...            ...         ...                                        ...
4862  136039025140           R                                      OTHER
4863  136051668402           B                               REGIONS BANK
4864  136055739489           R                                      OTHER
4865  136057137402           R                                      OTHER
4866  136062095199           C                     SUNTRUST MORTGAGE INC.
4867  136062323173           R                                      OTHER
4868  136064564132           R                                      OTHER
4869  136065103119           R                         GMAC MORTGAGE  LLC
4870  136066426891           C                                      OTHER
4871  136070112367           C                    JPMORGAN CHASE BANK  NA
4872  136070614541           C                   NETBANK FUNDING SERVICES
4873  136072403764           R              HARWOOD STREET FUNDING I  LLC
4874  136084194283           C                         FLAGSTAR BANK  FSB
4875  136092371504           B                      BANK OF AMERICA  N.A.
4876  136099222845           C                    JPMORGAN CHASE BANK  NA
4877  136102778652           C                   NETBANK FUNDING SERVICES
4878  136103052573           B                    JPMORGAN CHASE BANK  NA
4879  136106219452           C                               AMTRUST BANK
4880  136108451635           C                    JPMORGAN CHASE BANK  NA
4881  136113890965           C                                      OTHER
4882  136130370173           B  JPMORGAN CHASE BANK  NATIONAL ASSOCIATION
4883  136143644395           C                         FLAGSTAR BANK  FSB
4884  136145207235           C                   NETBANK FUNDING SERVICES
4885  136159181710           R    BISHOPS GATE RESIDENTIAL MORTGAGE TRUST
4886  136160263134           R                    JPMORGAN CHASE BANK  NA
4887  136161235451           C                      BANK OF AMERICA  N.A.
4888  136163023681           B                      BANK OF AMERICA  N.A.
4889  136174893885           R                                      OTHER
4890  136183282711           C                         GMAC MORTGAGE  LLC
4891  136194001470           C                    JPMORGAN CHASE BANK  NA

      origIntRate  orgUPB  orgLoanTerm orginationDate firstPaymentDate  \
0           8.000   75000          360        12/1999          02/2000
1           7.875   55000          180        01/2000          03/2000
2           8.000  130000          360        01/2000          03/2000
3           8.375  107000          360        02/2000          04/2000
4           8.000   37000          180        02/2000          04/2000
5           8.000   60000          360        01/2000          03/2000
6           7.750  153000          360        12/1999          02/2000
7           8.250  137000          360        12/1999          02/2000
8           8.375  175000          360        01/2000          03/2000
9           8.250  202000          360        01/2000          03/2000
10          7.750  152000          360        11/1999          01/2000
11          8.000   84000          360        01/2000          03/2000
12          8.125  126000          360        11/1999          01/2000
13          7.500   90000          360        12/1999          02/2000
14          7.625  165000          360        12/1999          02/2000
15          8.125  129000          360        01/2000          03/2000
16          8.375   49000          360        01/2000          03/2000
17          8.125  155000          360        12/1999          02/2000
18          7.875   82000          360        12/1999          02/2000
19          7.875   54000          360        12/1999          02/2000
20          7.875  153000          360        12/1999          01/2000
21          8.125   89000          360        12/1999          02/2000
22          7.625  180000          180        01/2000          03/2000
23          8.875   59000          360        02/2000          04/2000
24          7.500  240000          360        01/2000          02/2000
25          7.875   74000          360        01/2000          03/2000
26          8.250  121000          360        02/2000          04/2000
27          8.625  110000          360        02/2000          04/2000
28          8.000  147000          360        12/1999          02/2000
29          7.625  108000          360        12/1999          02/2000
...           ...     ...          ...            ...              ...
4862        7.500  225000          360        01/2000          03/2000
4863        8.125   90000          360        12/1999          02/2000
4864        7.250  155000          360        11/1999          01/2000
4865        8.250  119000          360        02/2000          04/2000
4866        7.625  126000          360        11/1999          01/2000
4867        8.625   44000          360        01/2000          03/2000
4868        8.750   40000          360        12/1999          02/2000
4869        7.875   78000          240        12/1999          02/2000
4870        8.000  181000          360        01/2000          03/2000
4871        7.750  112000          180        02/2000          04/2000
4872        8.125  150000          360        12/1999          02/2000
4873        7.750   96000          360        02/2000          04/2000
4874        7.500  121000          180        01/2000          03/2000
4875        8.750  126000          360        02/2000          04/2000
4876        7.750   41000          360        11/1999          01/2000
4877        7.625   90000          360        12/1999          02/2000
4878        8.125  125000          360        01/2000          03/2000
4879        7.500   63000          180        11/1999          01/2000
4880        7.375  198000          360        11/1999          01/2000
4881        7.625  174000          360        12/1999          01/2000
4882        8.125   63000          360        12/1999          02/2000
4883        8.000   86000          360        01/2000          03/2000
4884        8.125  212000          360        01/2000          03/2000
4885        7.250  149000          180        02/2000          04/2000
4886        7.250  180000          180        02/2000          04/2000
4887        7.625  160000          360        12/1999          02/2000
4888        7.750   40000          360        02/2000          04/2000
4889        7.875  155000          360        01/2000          03/2000
4890        7.375   71000          360        01/2000          03/2000
4891        7.875  156000          360        12/1999          02/2000

      orgLTV  orgCombinedLTV  ...  numUnits  occType  propertyState  \
0         79             NaN  ...         1        P             PA
1         69             NaN  ...         1        P             MD
2         61             NaN  ...         1        P             GA
3         95             NaN  ...         1        P             MO
4         63             NaN  ...         1        P             NC
5         97             NaN  ...         1        P             MI
6         80             NaN  ...         1        S             OR
7         80             NaN  ...         1        P             OH
8         80             NaN  ...         1        P             CO
9         80             NaN  ...         1        P             OH
10        85             NaN  ...         1        P             NV
11        75             NaN  ...         1        P             IN
12        95             NaN  ...         1        P             FL
13        90             NaN  ...         1        P             HI
14        80             NaN  ...         1        P             TN
15        93             NaN  ...         1        P             LA
16        31             NaN  ...         1        P             CA
17        83             NaN  ...         1        P             NY
18        95             NaN  ...         1        P             TX
19        80             NaN  ...         1        P             FL
20        94             NaN  ...         1        P             AL
21        97             NaN  ...         1        P             FL
22        75             NaN  ...         1        P             IL
23        73             NaN  ...         1        P             CA
24        80             NaN  ...         1        P             VA
25        80             NaN  ...         1        P             ID
26        71             NaN  ...         1        P             CA
27        88             NaN  ...         1        P             TX
28        80             NaN  ...         1        P             CA
29        63             NaN  ...         1        P             MI
...      ...             ...  ...       ...      ...            ...
4862      79             NaN  ...         1        P             CA
4863      80             NaN  ...         1        P             MS
4864      75             NaN  ...         1        P             MI
4865      95             NaN  ...         1        P             AR
4866      80             NaN  ...         1        P             NC
4867      42             NaN  ...         1        P             NC
4868      97             NaN  ...         1        P             TX
4869      71             NaN  ...         1        P             MO
4870      78             NaN  ...         2        P             IL
4871      78             NaN  ...         1        P             NC
4872      72             NaN  ...         1        P             MA
4873      80             NaN  ...         1        P             TX
4874      80             NaN  ...         1        P             LA
4875      97             NaN  ...         1        P             NC
4876      63             NaN  ...         1        P             OK
4877      80             NaN  ...         1        P             KY
4878      76             NaN  ...         1        P             LA
4879      75             NaN  ...         1        P             NC
4880      95             NaN  ...         1        P             RI
4881      80             NaN  ...         1        P             FL
4882      90             NaN  ...         1        P             MA
4883      80             NaN  ...         1        P             ME
4884      80             NaN  ...         1        P             MA
4885      55             NaN  ...         1        P             CA
4886      90             NaN  ...         1        P             CA
4887      80             NaN  ...         1        P             GA
4888      58             NaN  ...         1        P             RI
4889      71             NaN  ...         1        P             VA
4890      77             NaN  ...         1        P             KY
4891      80             NaN  ...         1        P             TX

     zipCodeShort priMortgageInsurancePercent prodType  \
0             173                         NaN      FRM
1             208                         NaN      FRM
2             300                         NaN      FRM
3             633                        25.0      FRM
4             286                         NaN      FRM
5             491                        35.0      FRM
6             977                         NaN      FRM
7             450                         NaN      FRM
8             812                         NaN      FRM
9             442                         NaN      FRM
10            891                        25.0      FRM
11            462                         NaN      FRM
12            333                        30.0      FRM
13            967                        25.0      FRM
14            370                         NaN      FRM
15            704                        30.0      FRM
16            908                         NaN      FRM
17            125                        17.0      FRM
18            750                        25.0      FRM
19            338                         NaN      FRM
20            352                        25.0      FRM
21            342                        30.0      FRM
22            606                         NaN      FRM
23            954                         NaN      FRM
24            234                         NaN      FRM
25            835                         NaN      FRM
26            957                         NaN      FRM
27            762                        25.0      FRM
28            917                         NaN      FRM
29            493                         NaN      FRM
...           ...                         ...      ...
4862          948                         NaN      FRM
4863          390                         NaN      FRM
4864          480                         NaN      FRM
4865          727                        25.0      FRM
4866          272                         NaN      FRM
4867          286                         NaN      FRM
4868          775                        30.0      FRM
4869          630                         NaN      FRM
4870          606                         NaN      FRM
4871          277                         NaN      FRM
4872           23                         NaN      FRM
4873          765                         NaN      FRM
4874          705                         NaN      FRM
4875          278                        35.0      FRM
4876          740                         NaN      FRM
4877          404                         NaN      FRM
4878          707                         NaN      FRM
4879          275                         NaN      FRM
4880           28                        30.0      FRM
4881          337                         NaN      FRM
4882           17                        25.0      FRM
4883           40                         NaN      FRM
4884           20                         NaN      FRM
4885          910                         NaN      FRM
4886          940                        25.0      FRM
4887          300                         NaN      FRM
4888           29                         NaN      FRM
4889          221                         NaN      FRM
4890          402                         NaN      FRM
4891          787                         NaN      FRM

      coBorrowerCreditScoreAtOrigination mortInsType reloMortIndicator  \
0                                    NaN         NaN                 N
1                                    NaN         NaN                 N
2                                  782.0         NaN                 N
3                                    NaN         1.0                 N
4                                    NaN         NaN                 N
5                                    NaN         1.0                 N
6                                    NaN         NaN                 N
7                                    NaN         NaN                 N
8                                  791.0         NaN                 N
9                                  686.0         NaN                 N
10                                   NaN         1.0                 N
11                                 671.0         NaN                 N
12                                 653.0         1.0                 N
13                                   NaN         1.0                 N
14                                 745.0         NaN                 N
15                                 698.0         2.0                 N
16                                   NaN         NaN                 N
17                                 647.0         1.0                 N
18                                   NaN         1.0                 N
19                                   NaN         NaN                 N
20                                   NaN         1.0                 N
21                                   NaN         1.0                 N
22                                 751.0         NaN                 N
23                                 689.0         NaN                 N
24                                 741.0         NaN                 N
25                                   NaN         NaN                 N
26                                 717.0         NaN                 N
27                                 752.0         1.0                 N
28                                 798.0         NaN                 N
29                                   NaN         NaN                 N
...                                  ...         ...               ...
4862                                 NaN         NaN                 N
4863                                 NaN         NaN                 N
4864                                 NaN         NaN                 N
4865                                 NaN         1.0                 N
4866                               744.0         NaN                 N
4867                                 NaN         NaN                 N
4868                                 NaN         1.0                 N
4869                                 NaN         NaN                 N
4870                               711.0         NaN                 N
4871                               745.0         NaN                 N
4872                               765.0         NaN                 N
4873                               743.0         NaN                 N
4874                                 NaN         NaN                 N
4875                                 NaN         1.0                 N

In [74]:
inputs.to_csv(r'foreclosure_data.csv', index=False)

In [97]:
del_lids = op_r[op_r['currLoanDelinquencyStatus'].notnull()]

In [98]:
del_lids

              loanID currLoanDelinquencyStatus  zeroBalCode foreclosureDate
0       100007365142                         0          NaN             NaN
1       100007365142                         0          NaN             NaN
2       100007365142                         0          NaN             NaN
3       100007365142                         0          NaN             NaN
4       100007365142                         0          NaN             NaN
5       100007365142                         0          NaN             NaN
6       100007365142                         0          NaN             NaN
7       100007365142                         0          NaN             NaN
8       100007365142                         0          NaN             NaN
9       100007365142                         0          NaN             NaN
10      100007365142                         0          NaN             NaN
11      100007365142                         0          NaN             NaN
12      100007365142                         0          NaN             NaN
13      100007365142                         0          NaN             NaN
14      100007365142                         0          NaN             NaN
15      100007365142                         0          NaN             NaN
16      100007365142                         0          NaN             NaN
17      100007365142                         0          NaN             NaN
18      100007365142                         0          NaN             NaN
19      100007365142                         0          NaN             NaN
20      100007365142                         0          NaN             NaN
21      100007365142                         0          NaN             NaN
22      100007365142                         0          NaN             NaN
23      100007365142                         0          NaN             NaN
24      100007365142                         0          NaN             NaN
25      100007365142                         0          NaN             NaN
26      100007365142                         0          NaN             NaN
27      100007365142                         0          NaN             NaN
28      100007365142                         0          NaN             NaN
29      100007365142                         0          NaN             NaN
...              ...                       ...          ...             ...
179970  136183282711                         0          NaN             NaN
179971  136183282711                         0          NaN             NaN
179972  136183282711                         X          1.0             NaN
179973  136194001470                         0          NaN             NaN
179974  136194001470                         0          NaN             NaN
179975  136194001470                         0          NaN             NaN
179976  136194001470                         0          NaN             NaN
179977  136194001470                         0          NaN             NaN
179978  136194001470                         0          NaN             NaN
179979  136194001470                         0          NaN             NaN
179980  136194001470                         0          NaN             NaN
179981  136194001470                         0          NaN             NaN
179982  136194001470                         0          NaN             NaN
179983  136194001470                         0          NaN             NaN
179984  136194001470                         0          NaN             NaN
179985  136194001470                         0          NaN             NaN
179986  136194001470                         0          NaN             NaN
179987  136194001470                         0          NaN             NaN
179988  136194001470                         0          NaN             NaN
179989  136194001470                         0          NaN             NaN
179990  136194001470                         0          NaN             NaN
179991  136194001470                         0          NaN             NaN
179992  136194001470                         0          NaN             NaN
179993  136194001470                         0          NaN             NaN
179994  136194001470                         1          NaN             NaN
179995  136194001470                         0          NaN             NaN
179996  136194001470                         0          NaN             NaN
179997  136194001470                         0          NaN             NaN
179998  136194001470                         0          NaN             NaN
179999  136194001470                         X          1.0             NaN

[179939 rows x 4 columns]

In [83]:
len(inputs.columns.values)

26

In [130]:
inputs=inputs.drop(columns=['foreclosed'])

In [99]:
del_lids.groupby('currLoanDelinquencyStatus').count()

                           loanID  zeroBalCode  foreclosureDate
currLoanDelinquencyStatus
0                          166911            0                0
1                            4868            0                0
10                             75            0                0
100                             1            0                0
101                             1            0                0
102                             1            0                0
103                             1            0                0
104                             1            0                0
105                             1            0                0
106                             1            0                0
107                             1            0                0
108                             1            0                0
109                             1            0                0
11                             69            0                0
110                             1            0                0
111                             1            0                0
112                             1            0                0
113                             1            0                0
114                             1            0                0
115                             1            0                0
116                             1            0                0
117                             1            0                0
118                             1            0                0
119                             1            0                0
12                             58            0                0
120                             1            0                0
13                             53            0                0
14                             47            0                0
15                             38            0                0
16                             30            0                0
...                           ...          ...              ...
73                              1            0                0
74                              1            0                0
75                              1            0                0
76                              1            0                0
77                              1            0                0
78                              1            0                0
79                              1            0                0
8                             133            0                0
80                              1            0                0
81                              1            0                0
82                              1            0                0
83                              1            0                0
84                              1            0                0
85                              1            0                0
86                              1            0                0
87                              1            0                0
88                              1            0                0
89                              1            0                0
9                              91            0                0
90                              1            0                0
91                              1            0                0
92                              1            0                0
93                              1            0                0
94                              1            0                0
95                              1            0                0
96                              1            0                0
97                              1            0                0
98                              1            0                0
99                              1            0                0
X                            4787         4784                0

[122 rows x 3 columns]

In [100]:
del_lids = del_lids[del_lids['currLoanDelinquencyStatus']!='X']

In [101]:
del_lids['dlstatus'] = pd.to_numeric(del_lids['currLoanDelinquencyStatus'])

/usr/lib/python3/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [103]:
del0 =  del_lids[del_lids['dlstatus']==0]['loanID']
del1 = del_lids[del_lids['dlstatus']==1]['loanID']
del2 = del_lids[del_lids['dlstatus']==2]['loanID']
del3 = del_lids[del_lids['dlstatus']==3]['loanID']
delgt3 = del_lids[del_lids['dlstatus']>3]['loanID']

In [127]:
del1.tolist()

[100023274028,
 100023274028,
 100023274028,
 100023274028,
 100023274028,
 100048724218,
 100057706656,
 100094030068,
 100100228738,
 100100228738,
 100100228738,
 100100228738,
 100100228738,
 100100228738,
 100100228738,
 100100228738,
 100100228738,
 100100228738,
 100100228738,
 100100228738,
 100100228738,
 100100228738,
 100100228738,
 100119700071,
 100135299882,
 100289940808,
 100289940808,
 100289940808,
 100289940808,
 100289940808,
 100289940808,
 100289940808,
 100289940808,
 100289940808,
 100289940808,
 100289940808,
 100289940808,
 100289940808,
 100289940808,
 100289940808,
 100289940808,
 100289940808,
 100289940808,
 100289940808,
 100289940808,
 100289940808,
 100289940808,
 100289940808,
 100289940808,
 100289940808,
 100289940808,
 100289940808,
 100289940808,
 100289940808,
 100289940808,
 100289940808,
 100297620817,
 100339426081,
 100366510395,
 100366510395,
 100366510395,
 100366510395,
 100366510395,
 100366510395,
 100392250518,
 100536680291,
 100536680291,
 100536680291,
 100536680291,
 100536680291,
 100536680291,
 100536680291,
 100536680291,
 100536680291,
 100536680291,
 100536680291,
 100536680291,
 100536680291,
 100579898395,
 100616525466,
 100616525466,
 100616525466,
 100650934438,
 100650934438,
 100654236473,
 100654236473,
 100654236473,
 100654236473,
 100654236473,
 100654236473,
 100654236473,
 100687390672,
 100699795538,
 100699795538,
 100699795538,
 100699795538,
 100699795538,
 100699795538,
 100699795538,
 100699795538,
 100699795538,
 100699795538,
 100699795538,
 100701420646,
 100701420646,
 100701420646,
 100701420646,
 100733360727,
 100761942176,
 100761942176,
 100798689396,
 100858171379,
 100883083293,
 100883083293,
 100883083293,
 100883083293,
 100883083293,
 100883083293,
 100883083293,
 100883083293,
 100883083293,
 100883083293,
 100883083293,
 100883083293,
 100883083293,
 100883083293,
 100883083293,
 100940427589,
 100947945019,
 100951136007,
 100993568697,
 101002934176,
 101002934176,
 101002934176,
 101002934176,
 101002934176,
 101002934176,
 101002934176,
 101002934176,
 101030909038,
 101030909038,
 101058822726,
 101074197668,
 101079049274,
 101113001139,
 101113001139,
 101113001139,
 101113001139,
 101113001139,
 101113001139,
 101113001139,
 101113001139,
 101113001139,
 101113001139,
 101113001139,
 101113001139,
 101113001139,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101153021562,
 101182966144,
 101212018183,
 101212018183,
 101212018183,
 101212018183,
 101212018183,
 101254124014,
 101255864776,
 101288222874,
 101288222874,
 101288222874,
 101288222874,
 101288222874,
 101288222874,
 101288222874,
 101295649883,
 101329051206,
 101372732696,
 101429210632,
 101439766518,
 101439766518,
 101453748377,
 101453748377,
 101455067427,
 101455067427,
 101455067427,
 101499831806,
 101499831806,
 101499831806,
 101499831806,
 101499831806,
 101499831806,
 101499831806,
 101499831806,
 101499831806,
 101499831806,
 101499831806,
 101499831806,
 101499831806,
 101499831806,
 101499831806,
 101499831806,
 101599536727,
 101599536727,
 101599536727,
 101599536727,
 101599536727,
 101682092168,
 101682092168,
 101682092168,
 101682092168,
 101682092168,
 101682092168,
 101682092168,
 101682092168,
 101682092168,
 101682092168,
 101682092168,
 101682092168,
 101682092168,
 101682092168,
 101682092168,
 101682092168,
 101682092168,
 101682092168,
 101682092168,
 101682092168,
 101682092168,
 101682092168,
 101682092168,
 101682092168,
 101682092168,
 101682092168,
 101682092168,
 101692119039,
 101692119039,
 101695698667,
 101695698667,
 101805429251,
 101805429251,
 101805429251,
 101805429251,
 101805429251,
 101820296045,
 101868584856,
 101914127867,
 101914127867,
 101914127867,
 101946778442,
 101953236056,
 101953236056,
 101953236056,
 101953236056,
 101953236056,
 101953236056,
 101953236056,
 101953236056,
 101953236056,
 101953236056,
 101971285424,
 101978414050,
 101978414050,
 101999822762,
 102019841797,
 102019841797,
 102019841797,
 102114661711,
 102114661711,
 102114661711,
 102114661711,
 102114661711,
 102114661711,
 102114661711,
 102126618546,
 102126618546,
 102126618546,
 102126618546,
 102126618546,
 102126618546,
 102126618546,
 102126618546,
 102126618546,
 102126618546,
 102126618546,
 102126618546,
 102134561765,
 102134561765,
 102134561765,
 102162154142,
 102166482154,
 102263948755,
 102263948755,
 102263948755,
 102263948755,
 102263948755,
 102263948755,
 102263948755,
 102263948755,
 102263948755,
 102263948755,
 102263948755,
 102263948755,
 102263948755,
 102263948755,
 102263948755,
 102263948755,
 102263948755,
 102263948755,
 102263948755,
 102263948755,
 102263948755,
 102263948755,
 102263948755,
 102263948755,
 102263948755,
 102263948755,
 102263948755,
 102263948755,
 102263948755,
 102263948755,
 102263948755,
 102263948755,
 102263948755,
 102263948755,
 102263948755,
 102263948755,
 102263948755,
 102263948755,
 102263948755,
 102263948755,
 102263948755,
 102275844970,
 102449052418,
 102633332754,
 102718910405,
 102718910405,
 102718910405,
 102718910405,
 102718910405,
 102718910405,
 102718910405,
 102718910405,
 102718910405,
 102718910405,
 102718910405,
 102718910405,
 102718910405,
 102718910405,
 102735376578,
 102840276516,
 102840276516,
 102860564826,
 102860564826,
 102860564826,
 102860564826,
 102881277836,
 102891654716,
 102891654716,
 102939587312,
 102939587312,
 102939587312,
 102939587312,
 102939587312,
 102939587312,
 102939587312,
 102939587312,
 102939587312,
 102939587312,
 102939587312,
 103041237272,
 103144879696,
 103144879696,
 103144879696,
 103144879696,
 103144879696,
 103144879696,
 103253325963,
 103253325963,
 103253325963,
 103253325963,
 103253325963,
 103253325963,
 103253325963,
 103338581953,
 103376375781,
 103482997495,
 103482997495,
 103482997495,
 103482997495,
 103482997495,
 103482997495,
 103482997495,
 103482997495,
 103504844753,
 103520137679,
 103545620763,
 103545620763,
 103545620763,
 103545620763,
 103545620763,
 103545620763,
 103545620763,
 103545620763,
 103545620763,
 103545620763,
 103545620763,
 103545620763,
 103545620763,
 103545620763,
 103545620763,
 103545620763,
 103589684366,
 103615919118,
 103615919118,
 103723111164,
 103741611326,
 103741611326,
 103741611326,
 103741611326,
 103741611326,
 103741611326,
 103741611326,
 103741611326,
 103741611326,
 103741611326,
 103741611326,
 103741611326,
 103741611326,
 103741611326,
 103741611326,
 103741611326,
 103741611326,
 103741611326,
 103741611326,
 103741611326,
 103741611326,
 103741611326,
 103741611326,
 103741611326,
 103741611326,
 103741611326,
 103741611326,
 103741611326,
 103741611326,
 103741611326,
 103741611326,
 103741611326,
 103741611326,
 103741611326,
 103741611326,
 103741611326,
 103741611326,
 103741611326,
 103741611326,
 103741611326,
 103741611326,
 103741611326,
 103794367947,
 103794367947,
 103810287764,
 103810287764,
 103813761309,
 103835362863,
 103835362863,
 103897311859,
 103897311859,
 103921534620,
 103921534620,
 103936777812,
 103953736301,
 103968872789,
 103968872789,
 103968872789,
 103968872789,
 103968872789,
 103968872789,
 104198523430,
 104198523430,
 104198523430,
 104198523430,
 104198523430,
 104198523430,
 104198523430,
 104198523430,
 104198523430,
 104198523430,
 104198523430,
 104212534295,
 104212534295,
 104212534295,
 104212534295,
 104212534295,
 104212534295,
 104212534295,
 104212534295,
 104212534295,
 104212534295,
 104212534295,
 104212534295,
 104212534295,
 104212534295,
 104212534295,
 104212534295,
 104212534295,
 104212534295,
 104366998880,
 104369524249,
 104369524249,
 104369524249,
 104369524249,
 104425531367,
 104522466871,
 104522466871,
 104522466871,
 104522466871,
 104522466871,
 104636688272,
 104636688272,
 104636688272,
 104640335839,
 104640335839,
 104657170903,
 104789316874,
 104789316874,
 104789316874,
 104789316874,
 104789316874,
 104789316874,
 104789316874,
 104789316874,
 104789316874,
 104789316874,
 104825434244,
 104825434244,
 104825434244,
 104825434244,
 104914138751,
 104948676710,
 104973619061,
 104973619061,
 104973619061,
 104973619061,
 105013879082,
 105013879082,
 105016773844,
 105035961340,
 105035961340,
 105035961340,
 105035961340,
 105035961340,
 105035961340,
 105049389510,
 105049389510,
 105049389510,
 105049389510,
 105049389510,
 105049389510,
 105049389510,
 105049389510,
 105049389510,
 105049389510,
 105049389510,
 105049389510,
 105049389510,
 105049389510,
 105049389510,
 105062425297,
 105062425297,
 105062425297,
 105062425297,
 105062425297,
 105062425297,
 105062425297,
 105062425297,
 105062425297,
 105062425297,
 105062425297,
 105062425297,
 105062425297,
 105062425297,
 105062425297,
 105062425297,
 105062425297,
 105062425297,
 105062425297,
 105062425297,
 105062425297,
 105062425297,
 105062425297,
 105062425297,
 105062425297,
 105062425297,
 105062425297,
 105062425297,
 105062425297,
 105075066774,
 105075927233,
 105075927233,
 105075927233,
 105201424519,
 105202464401,
 105297013956,
 105297013956,
 105297013956,
 105297013956,
 105297013956,
 105297013956,
 105297013956,
 105297013956,
 105297013956,
 105297013956,
 105297013956,
 105297013956,
 105297013956,
 105297013956,
 105297013956,
 105297013956,
 105297013956,
 105297013956,
 105364539640,
 105364539640,
 105364539640,
 105364539640,
 105367116671,
 105367116671,
 105398849019,
 105398849019,
 105398849019,
 105398849019,
 105398849019,
 105398849019,
 105398849019,
 105398849019,
 105398849019,
 105398849019,
 105447742965,
 105447742965,
 105447742965,
 105447742965,
 105447742965,
 105447742965,
 105447742965,
 105447742965,
 105447742965,
 105447742965,
 105447742965,
 105447742965,
 105470364423,
 105470364423,
 105470364423,
 105536464195,
 105599197979,
 105620046578,
 105620046578,
 105636641858,
 105636641858,
 105636641858,
 105636641858,
 105636641858,
 105636641858,
 105636641858,
 105636641858,
 105636641858,
 105636641858,
 105729426984,
 105732247847,
 105797394281,
 105797394281,
 105797394281,
 105797394281,
 105804267912,
 105804267912,
 105804267912,
 105804267912,
 105804267912,
 105804267912,
 105804267912,
 105804267912,
 105804267912,
 105804267912,
 105804267912,
 105804267912,
 105804267912,
 105804267912,
 105804267912,
 105813708908,
 105853296959,
 106072102390,
 106072102390,
 106072102390,
 106072102390,
 106080714204,
 106140055874,
 106149468319,
 106151120127,
 106151120127,
 106174465056,
 106182691415,
 106182691415,
 106182691415,
 106182691415,
 106182691415,
 106182691415,
 106182691415,
 106182691415,
 106182691415,
 106182691415,
 106182691415,
 106196738095,
 106309883969,
 106353249903,
 106353249903,
 106353249903,
 106353249903,
 106353249903,
 106364914142,
 106364914142,
 106364914142,
 106364914142,
 106374487453,
 106374487453,
 106374487453,
 106374487453,
 106374487453,
 106432243969,
 106432243969,
 106432243969,
 106432243969,
 106432243969,
 106432243969,
 106432243969,
 106432243969,
 106432243969,
 106432243969,
 106432243969,
 106447955165,
 106447955165,
 106449267368,
 106504149827,
 106504149827,
 106504149827,
 106522239890,
 106522239890,
 106656870965,
 106656870965,
 106656870965,
 106656870965,
 106656870965,
 106656870965,
 106671334210,
 106671334210,
 106671334210,
 106671334210,
 106671334210,
 106671334210,
 106671334210,
 106671334210,
 106695955405,
 106766347239,
 106774970442,
 106819616707,
 106849118080,
 106849118080,
 106857329196,
 106864600218,
 106878761795,
 106897613008,
 106897763763,
 106897763763,
 106897763763,
 106897763763,
 106897763763,
 106897763763,
 106897763763,
 106897763763,
 106897763763,
 106897763763,
 106897763763,
 106897763763,
 106897763763,
 106897763763,
 106897763763,
 106897763763,
 106897763763,
 106897763763,
 106897763763,
 106897763763,
 106897763763,
 106897763763,
 106897763763,
 106897763763,
 106897763763,
 106897763763,
 106897763763,
 106897763763,
 106897763763,
 106897763763,
 106897763763,
 106897763763,
 106897763763,
 106897763763,
 106897763763,
 106897763763,
 106930480864,
 106980300443,
 107110199809,
 107217308777,
 107265241456,
 107265241456,
 107265241456,
 107265241456,
 107265241456,
 107265241456,
 107265241456,
 107265241456,
 107265241456,
 107265241456,
 107265241456,
 107381453576,
 107381453576,
 107381453576,
 107444903718,
 107444903718,
 107444903718,
 107444903718,
 107444903718,
 107444903718,
 107444903718,
 107444903718,
 107444903718,
 107444903718,
 107444903718,
 107444903718,
 107444903718,
 107444903718,
 107444903718,
 107444903718,
 107444903718,
 107444903718,
 107444903718,
 107444903718,
 107444903718,
 107444903718,
 107499728979,
 107499728979,
 107506622473,
 107506622473,
 107506622473,
 107506622473,
 107506622473,
 107506622473,
 107506622473,
 107506622473,
 107506622473,
 107506622473,
 107506622473,
 107506622473,
 107542052050,
 107542052050,
 107542052050,
 107542052050,
 107542052050,
 107542052050,
 107542052050,
 107542052050,
 107542052050,
 107542052050,
 107542052050,
 107542052050,
 107542052050,
 107542052050,
 107542052050,
 107542052050,
 107542052050,
 107542052050,
 107542052050,
 107542052050,
 107542052050,
 107542052050,
 107542052050,
 107592424183,
 107592424183,
 107592424183,
 107626212614,
 107626212614,
 107633578580,
 107659414453,
 107664131422,
 107682454248,
 107683994604,
 107683994604,
 107683994604,
 107683994604,
 107683994604,
 107683994604,
 107683994604,
 107683994604,
 107683994604,
 107683994604,
 107683994604,
 107683994604,
 107683994604,
 107683994604,
 107683994604,
 107683994604,
 107683994604,
 107683994604,
 107683994604,
 107683994604,
 107683994604,
 107683994604,
 107683994604,
 107683994604,
 107683994604,
 107683994604,
 107683994604,
 107683994604,
 107683994604,
 107683994604,
 107683994604,
 107683994604,
 107683994604,
 107683994604,
 107683994604,
 ...]

In [126]:
del_lids.groupby('dlstatus').loanID.nunique()

dlstatus
0      4892
1       906
2       293
3       196
4       162
5       132
6       111
7        90
8        77
9        71
10       62
11       56
12       48
13       47
14       41
15       34
16       28
17       26
18       24
19       21
20       18
21       15
22       15
23       15
24       13
25       10
26       10
27        9
28        9
29        6
       ...
91        1
92        1
93        1
94        1
95        1
96        1
97        1
98        1
99        1
100       1
101       1
102       1
103       1
104       1
105       1
106       1
107       1
108       1
109       1
110       1
111       1
112       1
113       1
114       1
115       1
116       1
117       1
118       1
119       1
120       1
Name: loanID, Length: 121, dtype: int64

In [128]:
dellids = []
for x in inputs['loanID'].tolist():
    if x in delgt3.tolist():
        dellids.append('not delinquent')
    elif x in del3.tolist():
        dellids.append('30 days')
    elif x in del2.tolist():
        dellids.append('60 days')
    elif x in del1.tolist():
        dellids.append('90 days')
    elif x in del0.tolist():
        dellids.append('More than 90 d')
    else:
        dellids.append('NA')
inputs['delinquency']=dellids

False

In [131]:
inputs.groupby('delinquency').count()

,loanID,origChannel,sellerName,origIntRate,orgUPB,orgLoanTerm,orginationDate,firstPaymentDate,orgLTV,orgCombinedLTV,...,propType,numUnits,occType,propertyState,zipCodeShort,priMortgageInsurancePercent,prodType,coBorrowerCreditScoreAtOrigination,mortInsType,reloMortIndicator
delinquency,,,,,,,,,,,,,,,,,,,,,
30 days,35,35,35,35,35,35,35,35,35,2,...,35,35,35,35,35,18,35,14,18,35
60 days,95,95,95,95,95,95,95,95,95,1,...,95,95,95,95,95,34,95,42,34,95
90 days,613,613,613,613,613,613,613,613,613,1,...,613,613,613,613,613,210,613,286,210,613
More than 90 d,3985,3985,3985,3985,3985,3985,3985,3985,3985,14,...,3985,3985,3985,3985,3985,1272,3985,2099,1272,3985
not delinquent,164,164,164,164,164,164,164,164,164,0,...,164,164,164,164,164,71,164,51,71,164

In [132]:
inputs.to_csv(r'delinquency_data.csv', index=False)

In [134]:
op_r[op_r['zeroBalCode'].notnull()].groupby('zeroBalCode').count() # only consider 1.0 for zero balance

             loanID  currLoanDelinquencyStatus  foreclosureDate
zeroBalCode
1.0            4763                       4763                0
2.0               9                          0                9
3.0               2                          0                2
6.0              19                         19                0
9.0              51                          1               49
16.0              1                          1                0

In [135]:
zero_bal = op_r[op_r['zeroBalCode'].notnull()][op_r['zeroBalCode']==1.0]

/usr/lib/python3/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

              loanID currLoanDelinquencyStatus  zeroBalCode foreclosureDate
39      100007365142                         X          1.0             NaN
55      100007386460                         X          1.0             NaN
87      100023274028                         X          1.0             NaN
123     100026859568                         X          1.0             NaN
128     100028993931                         X          1.0             NaN
172     100035719682                         X          1.0             NaN
196     100048724218                         X          1.0             NaN
225     100079064875                         X          1.0             NaN
229     100088638564                         X          1.0             NaN
273     100094030068                         X          1.0             NaN
357     100100228738                         X          1.0             NaN
399     100119700071                         X          1.0             NaN
421     100122893931                         X          1.0             NaN
443     100132383737                         X          1.0             NaN
477     100135299882                         X          1.0             NaN
518     100138190869                         X          1.0             NaN
555     100151690382                         X          1.0             NaN
584     100162317966                         X          1.0             NaN
619     100178281207                         X          1.0             NaN
644     100185534396                         X          1.0             NaN
689     100191284472                         X          1.0             NaN
729     100199760845                         X          1.0             NaN
758     100201079370                         X          1.0             NaN
780     100205888542                         X          1.0             NaN
936     100207354995                         X          1.0             NaN
969     100223375008                         X          1.0             NaN
986     100244595640                         X          1.0             NaN
1017    100247319272                         X          1.0             NaN
1034    100249783497                         X          1.0             NaN
1056    100254682769                         X          1.0             NaN
...              ...                       ...          ...             ...
178941  136039025140                         X          1.0             NaN
178975  136051668402                         X          1.0             NaN
179003  136055739489                         X          1.0             NaN
179033  136057137402                         X          1.0             NaN
179056  136062095199                         X          1.0             NaN
179112  136062323173                         X          1.0             NaN
179153  136064564132                         X          1.0             NaN
179179  136065103119                         X          1.0             NaN
179194  136066426891                         X          1.0             NaN
179237  136070112367                         X          1.0             NaN
179264  136070614541                         X          1.0             NaN
179302  136072403764                         X          1.0             NaN
179330  136084194283                         X          1.0             NaN
179357  136092371504                         X          1.0             NaN
179381  136099222845                         X          1.0             NaN
179472  136102778652                         X          1.0             NaN
179493  136103052573                         X          1.0             NaN
179498  136106219452                         X          1.0             NaN
179520  136108451635                         X          1.0             NaN
179559  136113890965                         X          1.0             NaN
179615  136130370173                         X          1.0             NaN
179653  136143644395                         X          1.0             NaN
179667  136145207235                         X          1.0             NaN
179707  136159181710                         X          1.0             NaN
179736  136160263134                         X          1.0             NaN
179761  136161235451                         X          1.0             NaN
179907  136163023681                         X          1.0             NaN
179939  136174893885                         X          1.0             NaN
179972  136183282711                         X          1.0             NaN
179999  136194001470                         X          1.0             NaN

[4763 rows x 4 columns]

In [137]:
inputs=inputs.drop(columns=['delinquency'])

In [138]:
inputs['zerobal'] = ['yes' if x in zero_bal['loanID'].tolist() else 'no' for x in inputs['loanID'].tolist()]

In [140]:
inputs.groupby('zerobal').count() # only consider 1.0 for zero balance

,loanID,origChannel,sellerName,origIntRate,orgUPB,orgLoanTerm,orginationDate,firstPaymentDate,orgLTV,orgCombinedLTV,...,propType,numUnits,occType,propertyState,zipCodeShort,priMortgageInsurancePercent,prodType,coBorrowerCreditScoreAtOrigination,mortInsType,reloMortIndicator
zerobal,,,,,,,,,,,,,,,,,,,,,
no,129,129,129,129,129,129,129,129,129,0,...,129,129,129,129,129,61,129,43,61,129
yes,4763,4763,4763,4763,4763,4763,4763,4763,4763,18,...,4763,4763,4763,4763,4763,1544,4763,2449,1544,4763

In [141]:
inputs.to_csv(r'zerobal.csv', index=False)