In [431]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn import preprocessing

# Foreclosure Data

In [432]:
file = pd.read_csv('/home/mehakberi/Downloads/foreclosure_data.csv')
original = file.copy(deep=True)

In [433]:
colvals = file.columns.tolist()
colvals

['loanID',
 'origChannel',
 'sellerName',
 'origIntRate',
 'orgUPB',
 'orgLoanTerm',
 'orginationDate',
 'firstPaymentDate',
 'orgLTV',
 'orgCombinedLTV',
 'numBorrowers',
 'orgDebttoIncomeRatio',
 'borrowerCreditScoreAtOrigination',
 'firstTimeHomeBuyer',
 'loanPurpose',
 'propType',
 'numUnits',
 'occType',
 'propertyState',
 'zipCodeShort',
 'priMortgageInsurancePercent',
 'prodType',
 'coBorrowerCreditScoreAtOrigination',
 'mortInsType',
 'reloMortIndicator',
 'foreclosed']

In [434]:
file.describe

<bound method NDFrame.describe of             loanID origChannel                                 sellerName  \
0     100007365142           R                    JPMORGAN CHASE BANK  NA
1     100007386460           B                    JPMORGAN CHASE BANK  NA
2     100023274028           R  FIRST TENNESSEE BANK NATIONAL ASSOCIATION
3     100026859568           C  FIRST TENNESSEE BANK NATIONAL ASSOCIATION
4     100028993931           R                     WELLS FARGO BANK  N.A.
5     100035719682           R                   JP MORGAN CHASE BANK  NA
6     100048724218           B                    JPMORGAN CHASE BANK  NA
7     100057706656           B                         FLAGSTAR BANK  FSB
8     100079064875           R                         GMAC MORTGAGE  LLC
9     100088638564           R                  USAA FEDERAL SAVINGS BANK
10    100094030068           C                         CITIMORTGAGE  INC.
11    100100228738           R                    JPMORGAN CHASE BANK  NA
12    100119700071           R                     WELLS FARGO BANK  N.A.
13    100122893931           R                                      OTHER
14    100132383737           C                      BANK OF AMERICA  N.A.
15    100135299882           R                      BANK OF AMERICA  N.A.
16    100138190869           R                         CITIMORTGAGE  INC.
17    100151690382           R                    JPMORGAN CHASE BANK  NA
18    100162317966           C                    JPMORGAN CHASE BANK  NA
19    100178281207           R                     WELLS FARGO BANK  N.A.
20    100185534396           C                         FLAGSTAR BANK  FSB
21    100191284472           R  JPMORGAN CHASE BANK  NATIONAL ASSOCIATION
22    100199760845           B                                      OTHER
23    100201079370           B  FIRST TENNESSEE BANK NATIONAL ASSOCIATION
24    100205888542           R                                      OTHER
25    100207354995           B                    JPMORGAN CHASE BANK  NA
26    100223375008           R                      BANK OF AMERICA  N.A.
27    100244595640           B                                      OTHER
28    100247319272           B                         FLAGSTAR BANK  FSB
29    100249783497           R                   JP MORGAN CHASE BANK  NA
...            ...         ...                                        ...
4862  136039025140           R                                      OTHER
4863  136051668402           B                               REGIONS BANK
4864  136055739489           R                                      OTHER
4865  136057137402           R                                      OTHER
4866  136062095199           C                     SUNTRUST MORTGAGE INC.
4867  136062323173           R                                      OTHER
4868  136064564132           R                                      OTHER
4869  136065103119           R                         GMAC MORTGAGE  LLC
4870  136066426891           C                                      OTHER
4871  136070112367           C                    JPMORGAN CHASE BANK  NA
4872  136070614541           C                   NETBANK FUNDING SERVICES
4873  136072403764           R              HARWOOD STREET FUNDING I  LLC
4874  136084194283           C                         FLAGSTAR BANK  FSB
4875  136092371504           B                      BANK OF AMERICA  N.A.
4876  136099222845           C                    JPMORGAN CHASE BANK  NA
4877  136102778652           C                   NETBANK FUNDING SERVICES
4878  136103052573           B                    JPMORGAN CHASE BANK  NA
4879  136106219452           C                               AMTRUST BANK
4880  136108451635           C                    JPMORGAN CHASE BANK  NA
4881  136113890965           C                                      OTHER
4882  136130370173           B  JPMORGAN CHASE BANK  NATIONAL ASSOCIATION
4883  136143644395           C                         FLAGSTAR BANK  FSB
4884  136145207235           C                   NETBANK FUNDING SERVICES
4885  136159181710           R    BISHOPS GATE RESIDENTIAL MORTGAGE TRUST
4886  136160263134           R                    JPMORGAN CHASE BANK  NA
4887  136161235451           C                      BANK OF AMERICA  N.A.
4888  136163023681           B                      BANK OF AMERICA  N.A.
4889  136174893885           R                                      OTHER
4890  136183282711           C                         GMAC MORTGAGE  LLC
4891  136194001470           C                    JPMORGAN CHASE BANK  NA

      origIntRate  orgUPB  orgLoanTerm orginationDate firstPaymentDate  \
0           8.000   75000          360        12/1999          02/2000
1           7.875   55000          180        01/2000          03/2000
2           8.000  130000          360        01/2000          03/2000
3           8.375  107000          360        02/2000          04/2000
4           8.000   37000          180        02/2000          04/2000
5           8.000   60000          360        01/2000          03/2000
6           7.750  153000          360        12/1999          02/2000
7           8.250  137000          360        12/1999          02/2000
8           8.375  175000          360        01/2000          03/2000
9           8.250  202000          360        01/2000          03/2000
10          7.750  152000          360        11/1999          01/2000
11          8.000   84000          360        01/2000          03/2000
12          8.125  126000          360        11/1999          01/2000
13          7.500   90000          360        12/1999          02/2000
14          7.625  165000          360        12/1999          02/2000
15          8.125  129000          360        01/2000          03/2000
16          8.375   49000          360        01/2000          03/2000
17          8.125  155000          360        12/1999          02/2000
18          7.875   82000          360        12/1999          02/2000
19          7.875   54000          360        12/1999          02/2000
20          7.875  153000          360        12/1999          01/2000
21          8.125   89000          360        12/1999          02/2000
22          7.625  180000          180        01/2000          03/2000
23          8.875   59000          360        02/2000          04/2000
24          7.500  240000          360        01/2000          02/2000
25          7.875   74000          360        01/2000          03/2000
26          8.250  121000          360        02/2000          04/2000
27          8.625  110000          360        02/2000          04/2000
28          8.000  147000          360        12/1999          02/2000
29          7.625  108000          360        12/1999          02/2000
...           ...     ...          ...            ...              ...
4862        7.500  225000          360        01/2000          03/2000
4863        8.125   90000          360        12/1999          02/2000
4864        7.250  155000          360        11/1999          01/2000
4865        8.250  119000          360        02/2000          04/2000
4866        7.625  126000          360        11/1999          01/2000
4867        8.625   44000          360        01/2000          03/2000
4868        8.750   40000          360        12/1999          02/2000
4869        7.875   78000          240        12/1999          02/2000
4870        8.000  181000          360        01/2000          03/2000
4871        7.750  112000          180        02/2000          04/2000
4872        8.125  150000          360        12/1999          02/2000
4873        7.750   96000          360        02/2000          04/2000
4874        7.500  121000          180        01/2000          03/2000
4875        8.750  126000          360        02/2000          04/2000
4876        7.750   41000          360        11/1999          01/2000
4877        7.625   90000          360        12/1999          02/2000
4878        8.125  125000          360        01/2000          03/2000
4879        7.500   63000          180        11/1999          01/2000
4880        7.375  198000          360        11/1999          01/2000
4881        7.625  174000          360        12/1999          01/2000
4882        8.125   63000          360        12/1999          02/2000
4883        8.000   86000          360        01/2000          03/2000
4884        8.125  212000          360        01/2000          03/2000
4885        7.250  149000          180        02/2000          04/2000
4886        7.250  180000          180        02/2000          04/2000
4887        7.625  160000          360        12/1999          02/2000
4888        7.750   40000          360        02/2000          04/2000
4889        7.875  155000          360        01/2000          03/2000
4890        7.375   71000          360        01/2000          03/2000
4891        7.875  156000          360        12/1999          02/2000

      orgLTV  orgCombinedLTV  ...  numUnits  occType  propertyState  \
0         79             NaN  ...         1        P             PA
1         69             NaN  ...         1        P             MD
2         61             NaN  ...         1        P             GA
3         95             NaN  ...         1        P             MO
4         63             NaN  ...         1        P             NC
5         97             NaN  ...         1        P             MI
6         80             NaN  ...         1        S             OR
7         80             NaN  ...         1        P             OH
8         80             NaN  ...         1        P             CO
9         80             NaN  ...         1        P             OH
10        85             NaN  ...         1        P             NV
11        75             NaN  ...         1        P             IN
12        95             NaN  ...         1        P             FL
13        90             NaN  ...         1        P             HI
14        80             NaN  ...         1        P             TN
15        93             NaN  ...         1        P             LA
16        31             NaN  ...         1        P             CA
17        83             NaN  ...         1        P             NY
18        95             NaN  ...         1        P             TX
19        80             NaN  ...         1        P             FL
20        94             NaN  ...         1        P             AL
21        97             NaN  ...         1        P             FL
22        75             NaN  ...         1        P             IL
23        73             NaN  ...         1        P             CA
24        80             NaN  ...         1        P             VA
25        80             NaN  ...         1        P             ID
26        71             NaN  ...         1        P             CA
27        88             NaN  ...         1        P             TX
28        80             NaN  ...         1        P             CA
29        63             NaN  ...         1        P             MI
...      ...             ...  ...       ...      ...            ...
4862      79             NaN  ...         1        P             CA
4863      80             NaN  ...         1        P             MS
4864      75             NaN  ...         1        P             MI
4865      95             NaN  ...         1        P             AR
4866      80             NaN  ...         1        P             NC
4867      42             NaN  ...         1        P             NC
4868      97             NaN  ...         1        P             TX
4869      71             NaN  ...         1        P             MO
4870      78             NaN  ...         2        P             IL
4871      78             NaN  ...         1        P             NC
4872      72             NaN  ...         1        P             MA
4873      80             NaN  ...         1        P             TX
4874      80             NaN  ...         1        P             LA
4875      97             NaN  ...         1        P             NC
4876      63             NaN  ...         1        P             OK
4877      80             NaN  ...         1        P             KY
4878      76             NaN  ...         1        P             LA
4879      75             NaN  ...         1        P             NC
4880      95             NaN  ...         1        P             RI
4881      80             NaN  ...         1        P             FL
4882      90             NaN  ...         1        P             MA
4883      80             NaN  ...         1        P             ME
4884      80             NaN  ...         1        P             MA
4885      55             NaN  ...         1        P             CA
4886      90             NaN  ...         1        P             CA
4887      80             NaN  ...         1        P             GA
4888      58             NaN  ...         1        P             RI
4889      71             NaN  ...         1        P             VA
4890      77             NaN  ...         1        P             KY
4891      80             NaN  ...         1        P             TX

     zipCodeShort priMortgageInsurancePercent prodType  \
0             173                         NaN      FRM
1             208                         NaN      FRM
2             300                         NaN      FRM
3             633                        25.0      FRM
4             286                         NaN      FRM
5             491                        35.0      FRM
6             977                         NaN      FRM
7             450                         NaN      FRM
8             812                         NaN      FRM
9             442                         NaN      FRM
10            891                        25.0      FRM
11            462                         NaN      FRM
12            333                        30.0      FRM
13            967                        25.0      FRM
14            370                         NaN      FRM
15            704                        30.0      FRM
16            908                         NaN      FRM
17            125                        17.0      FRM
18            750                        25.0      FRM
19            338                         NaN      FRM
20            352                        25.0      FRM
21            342                        30.0      FRM
22            606                         NaN      FRM
23            954                         NaN      FRM
24            234                         NaN      FRM
25            835                         NaN      FRM
26            957                         NaN      FRM
27            762                        25.0      FRM
28            917                         NaN      FRM
29            493                         NaN      FRM
...           ...                         ...      ...
4862          948                         NaN      FRM
4863          390                         NaN      FRM
4864          480                         NaN      FRM
4865          727                        25.0      FRM
4866          272                         NaN      FRM
4867          286                         NaN      FRM
4868          775                        30.0      FRM
4869          630                         NaN      FRM
4870          606                         NaN      FRM
4871          277                         NaN      FRM
4872           23                         NaN      FRM
4873          765                         NaN      FRM
4874          705                         NaN      FRM
4875          278                        35.0      FRM
4876          740                         NaN      FRM
4877          404                         NaN      FRM
4878          707                         NaN      FRM
4879          275                         NaN      FRM
4880           28                        30.0      FRM
4881          337                         NaN      FRM
4882           17                        25.0      FRM
4883           40                         NaN      FRM
4884           20                         NaN      FRM
4885          910                         NaN      FRM
4886          940                        25.0      FRM
4887          300                         NaN      FRM
4888           29                         NaN      FRM
4889          221                         NaN      FRM
4890          402                         NaN      FRM
4891          787                         NaN      FRM

      coBorrowerCreditScoreAtOrigination mortInsType reloMortIndicator  \
0                                    NaN         NaN                 N
1                                    NaN         NaN                 N
2                                  782.0         NaN                 N
3                                    NaN         1.0                 N
4                                    NaN         NaN                 N
5                                    NaN         1.0                 N
6                                    NaN         NaN                 N
7                                    NaN         NaN                 N
8                                  791.0         NaN                 N
9                                  686.0         NaN                 N
10                                   NaN         1.0                 N
11                                 671.0         NaN                 N
12                                 653.0         1.0                 N
13                                   NaN         1.0                 N
14                                 745.0         NaN                 N
15                                 698.0         2.0                 N
16                                   NaN         NaN                 N
17                                 647.0         1.0                 N
18                                   NaN         1.0                 N
19                                   NaN         NaN                 N
20                                   NaN         1.0                 N
21                                   NaN         1.0                 N
22                                 751.0         NaN                 N
23                                 689.0         NaN                 N
24                                 741.0         NaN                 N
25                                   NaN         NaN                 N
26                                 717.0         NaN                 N
27                                 752.0         1.0                 N
28                                 798.0         NaN                 N
29                                   NaN         NaN                 N
...                                  ...         ...               ...
4862                                 NaN         NaN                 N
4863                                 NaN         NaN                 N
4864                                 NaN         NaN                 N
4865                                 NaN         1.0                 N
4866                               744.0         NaN                 N
4867                                 NaN         NaN                 N
4868                                 NaN         1.0                 N
4869                                 NaN         NaN                 N
4870                               711.0         NaN                 N
4871                               745.0         NaN                 N
4872                               765.0         NaN                 N
4873                               743.0         NaN                 N
4874                                 NaN         NaN                 N
4875                                 NaN         1.0                 N

In [435]:
todrop=[]
indtokeep = [3,5,9,11,12,19,20,26]
i=1
for x in colvals:
    if i not in indtokeep:
        todrop.append(x)
    i += 1

In [436]:
file= file.drop(columns=todrop)
file=file.dropna(axis='rows')
file.columns.values

array(['sellerName', 'orgUPB', 'orgLTV', 'numBorrowers',
       'orgDebttoIncomeRatio', 'propertyState', 'zipCodeShort',
       'foreclosed'], dtype=object)

In [437]:
#file.info()
org_file=file.copy(deep=True)
#file.describe
file[file['foreclosed']=='yes']

,sellerName,orgUPB,orgLTV,numBorrowers,orgDebttoIncomeRatio,propertyState,zipCodeShort,foreclosed
79,GMAC MORTGAGE LLC,136000,80,2.0,44.0,AZ,860,yes
102,FLAGSTAR BANK FSB,120000,77,1.0,54.0,CO,809,yes
368,OTHER,172000,80,1.0,44.0,TX,773,yes
512,AMTRUST BANK,129000,75,2.0,25.0,MA,18,yes
723,BANK OF AMERICA N.A.,26000,95,2.0,14.0,KS,672,yes
963,JPMORGAN CHASE BANK NA,34000,62,1.0,60.0,VA,232,yes
969,BISHOPS GATE RESIDENTIAL MORTGAGE TRUST,125000,93,1.0,17.0,KS,670,yes
1043,JPMORGAN CHASE BANK NATIONAL ASSOCIATION,57000,77,1.0,46.0,OH,440,yes
1071,JPMORGAN CHASE BANK NA,116000,94,1.0,26.0,FL,330,yes
1121,JPMORGAN CHASE BANK NATIONAL ASSOCIATION,117000,95,2.0,30.0,IA,502,yes
1136,FLAGSTAR BANK FSB,76000,95,1.0,44.0,SC,291,yes
1213,FLAGSTAR BANK FSB,46000,80,1.0,39.0,OH,441,yes
1271,OTHER,223000,77,1.0,44.0,MD,209,yes
1308,OTHER,183000,68,2.0,39.0,OH,441,yes
1402,OTHER,94000,97,1.0,30.0,GA,300,yes
1455,USAA FEDERAL SAVINGS BANK,38000,97,1.0,31.0,TX,774,yes
1485,OTHER,24000,97,1.0,30.0,TX,754,yes
1535,BANK OF AMERICA N.A.,98000,95,1.0,46.0,AL,360,yes
1588,OTHER,55000,95,1.0,17.0,OH,446,yes
1593,JPMORGAN CHASE BANK NA,35000,70,2.0,40.0,TX,777,yes
1686,BANK OF AMERICA N.A.,118000,95,1.0,39.0,GA,300,yes
1708,JPMORGAN CHASE BANK NATIONAL ASSOCIATION,57000,70,1.0,18.0,FL,331,yes
1898,OTHER,33000,51,2.0,5.0,CO,810,yes
1974,OTHER,198000,90,2.0,46.0,AL,356,yes
2020,BANK OF AMERICA N.A.,128000,80,2.0,35.0,MO,657,yes
2146,OTHER,113000,95,2.0,40.0,GA,315,yes
2188,GMAC MORTGAGE LLC,253000,79,1.0,40.0,AL,356,yes
2207,BANK OF AMERICA N.A.,238000,83,2.0,30.0,CA,954,yes
2255,OTHER,128000,90,1.0,40.0,IN,473,yes
2334,OTHER,76000,95,2.0,37.0,MO,641,yes
2507,BANK OF AMERICA N.A.,27000,66,1.0,18.0,GA,312,yes
2759,OTHER,51000,78,2.0,54.0,OH,441,yes
2890,OTHER,60000,69,1.0,52.0,PR,7,yes
2894,OTHER,106000,97,1.0,40.0,PR,7,yes
2927,JPMORGAN CHASE BANK NA,95000,90,1.0,44.0,CA,923,yes
3007,AMTRUST BANK,72000,78,2.0,3.0,NC,273,yes
3009,REGIONS BANK,52000,47,2.0,20.0,LA,710,yes
3057,FLAGSTAR BANK FSB,49000,73,1.0,56.0,OH,441,yes
3069,OTHER,82000,78,2.0,19.0,IA,501,yes
3076,BANK OF AMERICA N.A.,103000,97,2.0,36.0,NC,272,yes
3105,JPMORGAN CHASE BANK NA,45000,90,1.0,28.0,MO,656,yes
3174,JPMORGAN CHASE BANK NA,119000,75,1.0,45.0,IL,601,yes
3268,JPMORGAN CHASE BANK NA,100000,90,1.0,54.0,TX,773,yes
3283,BANK OF AMERICA N.A.,62000,95,1.0,30.0,TX,784,yes
3424,NETBANK FUNDING SERVICES,90000,90,2.0,41.0,SC,290,yes
3475,BANK OF AMERICA N.A.,82000,95,1.0,30.0,FL,333,yes
3523,OTHER,45000,41,1.0,20.0,MI,483,yes
3668,BANK OF AMERICA N.A.,54000,95,1.0,43.0,GA,302,yes
3709,FIRST TENNESSEE BANK NATIONAL ASSOCIATION,115000,80,1.0,50.0,GA,300,yes
4067,JPMORGAN CHASE BANK NA,113000,75,2.0,31.0,MD,210,yes
4215,BANK OF AMERICA N.A.,46000,73,1.0,32.0,MI,488,yes
4498,BANK OF AMERICA N.A.,116000,85,1.0,26.0,NV,891,yes
4524,BANK OF AMERICA N.A.,167000,90,2.0,35.0,OH,440,yes
4634,CITIMORTGAGE INC.,85000,97,1.0,40.0,FL,334,yes
4661,JPMORGAN CHASE BANK NATIONAL ASSOCIATION,35000,95,1.0,22.0,TX,799,yes
4719,BISHOPS GATE RESIDENTIAL MORTGAGE TRUST,36000,95,1.0,52.0,MN,554,yes
4741,BANK OF AMERICA N.A.,61000,75,1.0,45.0,NC,284,yes
4744,AMTRUST BANK,135000,90,1.0,27.0,MN,563,yes
4837,BANK OF AMERICA N.A.,105000,70,1.0,40.0,OH,452,yes
4840,JPMORGAN CHASE BANK NA,110000,80,2.0,42.0,WA,985,yes

In [438]:
# more pre processing
le = preprocessing.LabelEncoder()
seller = le.fit(file['sellerName'])
list(seller.classes_)
seller.transform(file['sellerName'])
file['seller'] = seller.transform(file['sellerName'])
state = le.fit(file['propertyState'])
list(state.classes_)
file['state'] = state.transform(file['propertyState'])
file = file.drop(columns=['sellerName','propertyState'])
file.columns.tolist()
file.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4697 entries, 0 to 4891
Data columns (total 8 columns):
orgUPB                  4697 non-null int64
orgLTV                  4697 non-null int64
numBorrowers            4697 non-null float64
orgDebttoIncomeRatio    4697 non-null float64
zipCodeShort            4697 non-null int64
foreclosed              4697 non-null object
seller                  4697 non-null int64
state                   4697 non-null int64
dtypes: float64(2), int64(5), object(1)
memory usage: 330.3+ KB

In [463]:
# scaling
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
to_scale = ['orgUPB','orgLTV','numBorrowers','orgDebttoIncomeRatio']
file[['orgUPB','orgLTV','numBorrowers','orgDebttoIncomeRatio']] = scaler.fit_transform(file[['orgUPB','orgLTV','numBorrowers','orgDebttoIncomeRatio']])#file.describe

In [440]:
# scaler fn
def scale(X,orig):
    maxv = orig.max()
    minv = orig.min()
    X_std = (X - minv) / (maxv - minv)
    #X_scaled = X_std * (maxv - minv) + minv
    return [X_std]

In [441]:
# random shuffle
file_shuffled = shuffle(file, random_state=0)
x = file_shuffled.drop(columns=['foreclosed'])
y = file_shuffled['foreclosed']

In [442]:
# divide into training and test
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.30, random_state=42)

In [443]:
# fit model
clf = tree.DecisionTreeClassifier() #decision tree gives best results as per WEKA
clf = clf.fit(X_train, y_train)

In [452]:
# test accuracy
from sklearn.metrics import accuracy_score
y_predict = clf.predict(X_test)
accuracy_score(y_test, y_predict)

0.97092198581560285

In [453]:
yt = y_test.tolist()
yp = y_predict.tolist()
type(yt)
#X_test.iloc[0]

list

In [455]:
for v in range(len(y_test)):
    #print(f'actual: {yt[v]}, p: {yp[v]}')
    if yp[v]=='yes':
        print(X_test.iloc[v])

orgUPB                    0.105691
orgLTV                    0.976744
numBorrowers              0.000000
orgDebttoIncomeRatio      0.158730
zipCodeShort            937.000000
seller                   19.000000
state                     4.000000
Name: 2686, dtype: float64
orgUPB                    0.081301
orgLTV                    0.802326
numBorrowers              0.000000
orgDebttoIncomeRatio      0.587302
zipCodeShort            441.000000
seller                   10.000000
state                    35.000000
Name: 1758, dtype: float64
orgUPB                    0.439024
orgLTV                    0.976744
numBorrowers              0.000000
orgDebttoIncomeRatio      0.634921
zipCodeShort            600.000000
seller                   16.000000
state                    14.000000
Name: 3498, dtype: float64
orgUPB                    0.560976
orgLTV                    0.918605
numBorrowers              0.000000
orgDebttoIncomeRatio      0.333333
zipCodeShort            334.000000
seller                   10.000000
state                     9.000000
Name: 3894, dtype: float64
orgUPB                    0.151762
orgLTV                    0.976744
numBorrowers              0.250000
orgDebttoIncomeRatio      0.301587
zipCodeShort            703.000000
seller                   17.000000
state                    18.000000
Name: 2191, dtype: float64
orgUPB                    0.176152
orgLTV                    0.802326
numBorrowers              0.250000
orgDebttoIncomeRatio      0.841270
zipCodeShort            453.000000
seller                    0.000000
state                    35.000000
Name: 4204, dtype: float64
orgUPB                    0.084011
orgLTV                    0.744186
numBorrowers              0.000000
orgDebttoIncomeRatio      0.904762
zipCodeShort            339.000000
seller                   14.000000
state                     9.000000
Name: 1411, dtype: float64
orgUPB                   0.433604
orgLTV                   1.000000
numBorrowers             0.250000
orgDebttoIncomeRatio     0.523810
zipCodeShort             7.000000
seller                  14.000000
state                   39.000000
Name: 2379, dtype: float64
orgUPB                    0.284553
orgLTV                    0.918605
numBorrowers              0.000000
orgDebttoIncomeRatio      1.000000
zipCodeShort            331.000000
seller                    3.000000
state                     9.000000
Name: 1065, dtype: float64
orgUPB                    0.422764
orgLTV                    0.976744
numBorrowers              0.250000
orgDebttoIncomeRatio      0.539683
zipCodeShort            430.000000
seller                    0.000000
state                    35.000000
Name: 958, dtype: float64
orgUPB                    0.222222
orgLTV                    0.918605
numBorrowers              0.000000
orgDebttoIncomeRatio      0.555556
zipCodeShort            337.000000
seller                    1.000000
state                     9.000000
Name: 269, dtype: float64
orgUPB                    0.040650
orgLTV                    0.976744
numBorrowers              0.000000
orgDebttoIncomeRatio      0.428571
zipCodeShort            333.000000
seller                    2.000000
state                     9.000000
Name: 1388, dtype: float64
orgUPB                    0.081301
orgLTV                    1.000000
numBorrowers              0.000000
orgDebttoIncomeRatio      0.158730
zipCodeShort            775.000000
seller                   14.000000
state                    44.000000
Name: 4868, dtype: float64
orgUPB                    0.308943
orgLTV                    0.360465
numBorrowers              0.000000
orgDebttoIncomeRatio      0.984127
zipCodeShort            900.000000
seller                    3.000000
state                     4.000000
Name: 2109, dtype: float64
orgUPB                    0.124661
orgLTV                    0.976744
numBorrowers              0.000000
orgDebttoIncomeRatio      0.539683
zipCodeShort            852.000000
seller                   14.000000
state                     3.000000
Name: 1498, dtype: float64
orgUPB                    0.623306
orgLTV                    0.872093
numBorrowers              0.250000
orgDebttoIncomeRatio      0.492063
zipCodeShort            853.000000
seller                    0.000000
state                     3.000000
Name: 2137, dtype: float64
orgUPB                    0.130081
orgLTV                    0.802326
numBorrowers              0.250000
orgDebttoIncomeRatio      0.301587
zipCodeShort            760.000000
seller                    1.000000
state                    44.000000
Name: 552, dtype: float64
orgUPB                    0.184282
orgLTV                    0.779070
numBorrowers              0.000000
orgDebttoIncomeRatio      0.761905
zipCodeShort            985.000000
seller                   10.000000
state                    49.000000
Name: 3469, dtype: float64
orgUPB                    0.121951
orgLTV                    0.744186
numBorrowers              0.000000
orgDebttoIncomeRatio      0.920635
zipCodeShort            708.000000
seller                    7.000000
state                    18.000000
Name: 3192, dtype: float64
orgUPB                    0.159892
orgLTV                    0.744186
numBorrowers              0.250000
orgDebttoIncomeRatio      0.746032
zipCodeShort            874.000000
seller                    1.000000
state                    32.000000
Name: 1594, dtype: float64
orgUPB                    0.311653
orgLTV                    0.976744
numBorrowers              0.000000
orgDebttoIncomeRatio      0.412698
zipCodeShort            333.000000
seller                   10.000000
state                     9.000000
Name: 890, dtype: float64
orgUPB                    0.265583
orgLTV                    0.918605
numBorrowers              0.000000
orgDebttoIncomeRatio      0.301587
zipCodeShort            960.000000
seller                   10.000000
state                     4.000000
Name: 4079, dtype: float64

In [456]:
def foreclosure_test_model(orgUPB=75000,orgLTV=79,numB=2,dtir=31.0,zipc=173,seller_='JPMORGAN CHASE BANK  NA',state_='TX'):
    dic = {'orgUPB':[orgUPB], 'orgLTV':[orgLTV], 'numBorrowers':[numB], 'orgDebttoIncomeRatio':[dtir],'zipCodeShort':[zipc],'seller':[seller_],'state':[state_]}
    df = pd.DataFrame.from_dict(dic)
    seller = le.fit(original['sellerName'])
    df['seller']=seller.transform(df['seller'])
    state = le.fit(original['propertyState'])
    df['state']=state.transform(df['state'])
    df['orgUPB']= scale(df['orgUPB'][0], org_file['orgUPB'])
    df['orgLTV']= scale(df['orgLTV'][0], org_file['orgLTV'])
    #df['orgCombinedLTV']= scale(df['orgCombinedLTV'][0], org_file['orgCombinedLTV'])
    df['numBorrowers']= scale(df['numBorrowers'][0], org_file['numBorrowers'])
    df['orgDebttoIncomeRatio']= scale(df['orgDebttoIncomeRatio'][0], org_file['orgDebttoIncomeRatio'])
    print(df.iloc[0])
    ypred = clf.predict(df)
    return ypred
seller = le.fit(original['sellerName'])
seller.classes_
foreclosure_test_model(seller_='CITIMORTGAGE  INC.')

orgUPB                    0.176152
orgLTV                    0.790698
numBorrowers              0.250000
orgDebttoIncomeRatio      0.476190
zipCodeShort            173.000000
seller                    3.000000
state                    44.000000
Name: 0, dtype: float64

array(['no'], dtype=object)

# Bokeh Structure

In [466]:
from __future__ import print_function
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets

def foreclosure_click(upb,ltv,numb,dtir,zipc,seller,state):
    #orgUPB=75000,orgLTV=79,orgCLTV=54,numB=2,dtir=31.0,zipc=173,seller_='JPMORGAN CHASE BANK  NA',state_='TX'
    print('FORECLOSURE PREDICTION')
    #f=foreclosure_test_model(float(upb.value), float(lpb.value), float(cltv.value), int(numb.value), float(dtir.value), int(zipc.value), str(select1.value), str(select2.value))
    f=foreclosure_test_model(upb,ltv,numb,dtir,zipc,seller_=str(seller),state_=str(state))
    return f[0]
'''
upb = TextInput(
        value='75000',
        title='origUPB',
    )
ltv = TextInput(    value='79',    title='orig ltv',)
cltv = TextInput(    value='54',    title='orig cltv',)
numb = TextInput(    value='2',    title='num of borrowers',)
dtir = TextInput(    value='31.0',    title='dti ratio',)
zipc = TextInput(    value='173',    title='zip code short',)
'''
#button = widgets.Button(description="Foreclosure")
interact(foreclosure_click, 
         upb = widgets.FloatText(value=60000, description="upb"),
         ltv = widgets.FloatText(value=90, description="ltv"),
         numb = widgets.FloatText(value=0, description="#borrowers"),
         dtir = widgets.FloatText(value=10, description="dti-ratio"),
         zipc = widgets.FloatText(value=937, description="zipc"),
         seller=original['sellerName'].tolist(), 
         state=original['propertyState'].tolist())