In [231]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn import preprocessing

# Foreclosure Data

In [265]:
file = pd.read_csv('foreclosure_data.csv')
original = file.copy(deep=True)

In [257]:
colvals = file.columns.tolist()
colvals

['loanID',
 'origChannel',
 'sellerName',
 'origIntRate',
 'orgUPB',
 'orgLoanTerm',
 'orginationDate',
 'firstPaymentDate',
 'orgLTV',
 'orgCombinedLTV',
 'numBorrowers',
 'orgDebttoIncomeRatio',
 'borrowerCreditScoreAtOrigination',
 'firstTimeHomeBuyer',
 'loanPurpose',
 'propType',
 'numUnits',
 'occType',
 'propertyState',
 'zipCodeShort',
 'priMortgageInsurancePercent',
 'prodType',
 'coBorrowerCreditScoreAtOrigination',
 'mortInsType',
 'reloMortIndicator',
 'foreclosed']

In [234]:
file.describe

<bound method NDFrame.describe of             loanID origChannel                                 sellerName  \
0     100007365142           R                    JPMORGAN CHASE BANK  NA
1     100007386460           B                    JPMORGAN CHASE BANK  NA
2     100023274028           R  FIRST TENNESSEE BANK NATIONAL ASSOCIATION
3     100026859568           C  FIRST TENNESSEE BANK NATIONAL ASSOCIATION
4     100028993931           R                     WELLS FARGO BANK  N.A.
5     100035719682           R                   JP MORGAN CHASE BANK  NA
6     100048724218           B                    JPMORGAN CHASE BANK  NA
7     100057706656           B                         FLAGSTAR BANK  FSB
8     100079064875           R                         GMAC MORTGAGE  LLC
9     100088638564           R                  USAA FEDERAL SAVINGS BANK
10    100094030068           C                         CITIMORTGAGE  INC.
11    100100228738           R                    JPMORGAN CHASE BANK  NA
12    100119700071           R                     WELLS FARGO BANK  N.A.
13    100122893931           R                                      OTHER
14    100132383737           C                      BANK OF AMERICA  N.A.
15    100135299882           R                      BANK OF AMERICA  N.A.
16    100138190869           R                         CITIMORTGAGE  INC.
17    100151690382           R                    JPMORGAN CHASE BANK  NA
18    100162317966           C                    JPMORGAN CHASE BANK  NA
19    100178281207           R                     WELLS FARGO BANK  N.A.
20    100185534396           C                         FLAGSTAR BANK  FSB
21    100191284472           R  JPMORGAN CHASE BANK  NATIONAL ASSOCIATION
22    100199760845           B                                      OTHER
23    100201079370           B  FIRST TENNESSEE BANK NATIONAL ASSOCIATION
24    100205888542           R                                      OTHER
25    100207354995           B                    JPMORGAN CHASE BANK  NA
26    100223375008           R                      BANK OF AMERICA  N.A.
27    100244595640           B                                      OTHER
28    100247319272           B                         FLAGSTAR BANK  FSB
29    100249783497           R                   JP MORGAN CHASE BANK  NA
...            ...         ...                                        ...
4862  136039025140           R                                      OTHER
4863  136051668402           B                               REGIONS BANK
4864  136055739489           R                                      OTHER
4865  136057137402           R                                      OTHER
4866  136062095199           C                     SUNTRUST MORTGAGE INC.
4867  136062323173           R                                      OTHER
4868  136064564132           R                                      OTHER
4869  136065103119           R                         GMAC MORTGAGE  LLC
4870  136066426891           C                                      OTHER
4871  136070112367           C                    JPMORGAN CHASE BANK  NA
4872  136070614541           C                   NETBANK FUNDING SERVICES
4873  136072403764           R              HARWOOD STREET FUNDING I  LLC
4874  136084194283           C                         FLAGSTAR BANK  FSB
4875  136092371504           B                      BANK OF AMERICA  N.A.
4876  136099222845           C                    JPMORGAN CHASE BANK  NA
4877  136102778652           C                   NETBANK FUNDING SERVICES
4878  136103052573           B                    JPMORGAN CHASE BANK  NA
4879  136106219452           C                               AMTRUST BANK
4880  136108451635           C                    JPMORGAN CHASE BANK  NA
4881  136113890965           C                                      OTHER
4882  136130370173           B  JPMORGAN CHASE BANK  NATIONAL ASSOCIATION
4883  136143644395           C                         FLAGSTAR BANK  FSB
4884  136145207235           C                   NETBANK FUNDING SERVICES
4885  136159181710           R    BISHOPS GATE RESIDENTIAL MORTGAGE TRUST
4886  136160263134           R                    JPMORGAN CHASE BANK  NA
4887  136161235451           C                      BANK OF AMERICA  N.A.
4888  136163023681           B                      BANK OF AMERICA  N.A.
4889  136174893885           R                                      OTHER
4890  136183282711           C                         GMAC MORTGAGE  LLC
4891  136194001470           C                    JPMORGAN CHASE BANK  NA

      origIntRate  orgUPB  orgLoanTerm orginationDate firstPaymentDate  \
0           8.000   75000          360        12/1999          02/2000
1           7.875   55000          180        01/2000          03/2000
2           8.000  130000          360        01/2000          03/2000
3           8.375  107000          360        02/2000          04/2000
4           8.000   37000          180        02/2000          04/2000
5           8.000   60000          360        01/2000          03/2000
6           7.750  153000          360        12/1999          02/2000
7           8.250  137000          360        12/1999          02/2000
8           8.375  175000          360        01/2000          03/2000
9           8.250  202000          360        01/2000          03/2000
10          7.750  152000          360        11/1999          01/2000
11          8.000   84000          360        01/2000          03/2000
12          8.125  126000          360        11/1999          01/2000
13          7.500   90000          360        12/1999          02/2000
14          7.625  165000          360        12/1999          02/2000
15          8.125  129000          360        01/2000          03/2000
16          8.375   49000          360        01/2000          03/2000
17          8.125  155000          360        12/1999          02/2000
18          7.875   82000          360        12/1999          02/2000
19          7.875   54000          360        12/1999          02/2000
20          7.875  153000          360        12/1999          01/2000
21          8.125   89000          360        12/1999          02/2000
22          7.625  180000          180        01/2000          03/2000
23          8.875   59000          360        02/2000          04/2000
24          7.500  240000          360        01/2000          02/2000
25          7.875   74000          360        01/2000          03/2000
26          8.250  121000          360        02/2000          04/2000
27          8.625  110000          360        02/2000          04/2000
28          8.000  147000          360        12/1999          02/2000
29          7.625  108000          360        12/1999          02/2000
...           ...     ...          ...            ...              ...
4862        7.500  225000          360        01/2000          03/2000
4863        8.125   90000          360        12/1999          02/2000
4864        7.250  155000          360        11/1999          01/2000
4865        8.250  119000          360        02/2000          04/2000
4866        7.625  126000          360        11/1999          01/2000
4867        8.625   44000          360        01/2000          03/2000
4868        8.750   40000          360        12/1999          02/2000
4869        7.875   78000          240        12/1999          02/2000
4870        8.000  181000          360        01/2000          03/2000
4871        7.750  112000          180        02/2000          04/2000
4872        8.125  150000          360        12/1999          02/2000
4873        7.750   96000          360        02/2000          04/2000
4874        7.500  121000          180        01/2000          03/2000
4875        8.750  126000          360        02/2000          04/2000
4876        7.750   41000          360        11/1999          01/2000
4877        7.625   90000          360        12/1999          02/2000
4878        8.125  125000          360        01/2000          03/2000
4879        7.500   63000          180        11/1999          01/2000
4880        7.375  198000          360        11/1999          01/2000
4881        7.625  174000          360        12/1999          01/2000
4882        8.125   63000          360        12/1999          02/2000
4883        8.000   86000          360        01/2000          03/2000
4884        8.125  212000          360        01/2000          03/2000
4885        7.250  149000          180        02/2000          04/2000
4886        7.250  180000          180        02/2000          04/2000
4887        7.625  160000          360        12/1999          02/2000
4888        7.750   40000          360        02/2000          04/2000
4889        7.875  155000          360        01/2000          03/2000
4890        7.375   71000          360        01/2000          03/2000
4891        7.875  156000          360        12/1999          02/2000

      orgLTV  orgCombinedLTV  ...  numUnits  occType  propertyState  \
0         79             NaN  ...         1        P             PA
1         69             NaN  ...         1        P             MD
2         61             NaN  ...         1        P             GA
3         95             NaN  ...         1        P             MO
4         63             NaN  ...         1        P             NC
5         97             NaN  ...         1        P             MI
6         80             NaN  ...         1        S             OR
7         80             NaN  ...         1        P             OH
8         80             NaN  ...         1        P             CO
9         80             NaN  ...         1        P             OH
10        85             NaN  ...         1        P             NV
11        75             NaN  ...         1        P             IN
12        95             NaN  ...         1        P             FL
13        90             NaN  ...         1        P             HI
14        80             NaN  ...         1        P             TN
15        93             NaN  ...         1        P             LA
16        31             NaN  ...         1        P             CA
17        83             NaN  ...         1        P             NY
18        95             NaN  ...         1        P             TX
19        80             NaN  ...         1        P             FL
20        94             NaN  ...         1        P             AL
21        97             NaN  ...         1        P             FL
22        75             NaN  ...         1        P             IL
23        73             NaN  ...         1        P             CA
24        80             NaN  ...         1        P             VA
25        80             NaN  ...         1        P             ID
26        71             NaN  ...         1        P             CA
27        88             NaN  ...         1        P             TX
28        80             NaN  ...         1        P             CA
29        63             NaN  ...         1        P             MI
...      ...             ...  ...       ...      ...            ...
4862      79             NaN  ...         1        P             CA
4863      80             NaN  ...         1        P             MS
4864      75             NaN  ...         1        P             MI
4865      95             NaN  ...         1        P             AR
4866      80             NaN  ...         1        P             NC
4867      42             NaN  ...         1        P             NC
4868      97             NaN  ...         1        P             TX
4869      71             NaN  ...         1        P             MO
4870      78             NaN  ...         2        P             IL
4871      78             NaN  ...         1        P             NC
4872      72             NaN  ...         1        P             MA
4873      80             NaN  ...         1        P             TX
4874      80             NaN  ...         1        P             LA
4875      97             NaN  ...         1        P             NC
4876      63             NaN  ...         1        P             OK
4877      80             NaN  ...         1        P             KY
4878      76             NaN  ...         1        P             LA
4879      75             NaN  ...         1        P             NC
4880      95             NaN  ...         1        P             RI
4881      80             NaN  ...         1        P             FL
4882      90             NaN  ...         1        P             MA
4883      80             NaN  ...         1        P             ME
4884      80             NaN  ...         1        P             MA
4885      55             NaN  ...         1        P             CA
4886      90             NaN  ...         1        P             CA
4887      80             NaN  ...         1        P             GA
4888      58             NaN  ...         1        P             RI
4889      71             NaN  ...         1        P             VA
4890      77             NaN  ...         1        P             KY
4891      80             NaN  ...         1        P             TX

     zipCodeShort priMortgageInsurancePercent prodType  \
0             173                         NaN      FRM
1             208                         NaN      FRM
2             300                         NaN      FRM
3             633                        25.0      FRM
4             286                         NaN      FRM
5             491                        35.0      FRM
6             977                         NaN      FRM
7             450                         NaN      FRM
8             812                         NaN      FRM
9             442                         NaN      FRM
10            891                        25.0      FRM
11            462                         NaN      FRM
12            333                        30.0      FRM
13            967                        25.0      FRM
14            370                         NaN      FRM
15            704                        30.0      FRM
16            908                         NaN      FRM
17            125                        17.0      FRM
18            750                        25.0      FRM
19            338                         NaN      FRM
20            352                        25.0      FRM
21            342                        30.0      FRM
22            606                         NaN      FRM
23            954                         NaN      FRM
24            234                         NaN      FRM
25            835                         NaN      FRM
26            957                         NaN      FRM
27            762                        25.0      FRM
28            917                         NaN      FRM
29            493                         NaN      FRM
...           ...                         ...      ...
4862          948                         NaN      FRM
4863          390                         NaN      FRM
4864          480                         NaN      FRM
4865          727                        25.0      FRM
4866          272                         NaN      FRM
4867          286                         NaN      FRM
4868          775                        30.0      FRM
4869          630                         NaN      FRM
4870          606                         NaN      FRM
4871          277                         NaN      FRM
4872           23                         NaN      FRM
4873          765                         NaN      FRM
4874          705                         NaN      FRM
4875          278                        35.0      FRM
4876          740                         NaN      FRM
4877          404                         NaN      FRM
4878          707                         NaN      FRM
4879          275                         NaN      FRM
4880           28                        30.0      FRM
4881          337                         NaN      FRM
4882           17                        25.0      FRM
4883           40                         NaN      FRM
4884           20                         NaN      FRM
4885          910                         NaN      FRM
4886          940                        25.0      FRM
4887          300                         NaN      FRM
4888           29                         NaN      FRM
4889          221                         NaN      FRM
4890          402                         NaN      FRM
4891          787                         NaN      FRM

      coBorrowerCreditScoreAtOrigination mortInsType reloMortIndicator  \
0                                    NaN         NaN                 N
1                                    NaN         NaN                 N
2                                  782.0         NaN                 N
3                                    NaN         1.0                 N
4                                    NaN         NaN                 N
5                                    NaN         1.0                 N
6                                    NaN         NaN                 N
7                                    NaN         NaN                 N
8                                  791.0         NaN                 N
9                                  686.0         NaN                 N
10                                   NaN         1.0                 N
11                                 671.0         NaN                 N
12                                 653.0         1.0                 N
13                                   NaN         1.0                 N
14                                 745.0         NaN                 N
15                                 698.0         2.0                 N
16                                   NaN         NaN                 N
17                                 647.0         1.0                 N
18                                   NaN         1.0                 N
19                                   NaN         NaN                 N
20                                   NaN         1.0                 N
21                                   NaN         1.0                 N
22                                 751.0         NaN                 N
23                                 689.0         NaN                 N
24                                 741.0         NaN                 N
25                                   NaN         NaN                 N
26                                 717.0         NaN                 N
27                                 752.0         1.0                 N
28                                 798.0         NaN                 N
29                                   NaN         NaN                 N
...                                  ...         ...               ...
4862                                 NaN         NaN                 N
4863                                 NaN         NaN                 N
4864                                 NaN         NaN                 N
4865                                 NaN         1.0                 N
4866                               744.0         NaN                 N
4867                                 NaN         NaN                 N
4868                                 NaN         1.0                 N
4869                                 NaN         NaN                 N
4870                               711.0         NaN                 N
4871                               745.0         NaN                 N
4872                               765.0         NaN                 N
4873                               743.0         NaN                 N
4874                                 NaN         NaN                 N
4875                                 NaN         1.0                 N

In [235]:
todrop=[]
indtokeep = [3,5,9,10,11,12,19,20,26]
i=1
for x in colvals:
    if i not in indtokeep:
        todrop.append(x)
    i += 1

In [236]:
file= file.drop(columns=todrop)
file=file.dropna(axis='rows')
file.columns.values

array(['sellerName', 'orgUPB', 'orgLTV', 'orgCombinedLTV', 'numBorrowers',
       'orgDebttoIncomeRatio', 'propertyState', 'zipCodeShort',
       'foreclosed'], dtype=object)

In [237]:
file.info()
org_file=file
file.describe

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17 entries, 367 to 4705
Data columns (total 9 columns):
sellerName              17 non-null object
orgUPB                  17 non-null int64
orgLTV                  17 non-null int64
orgCombinedLTV          17 non-null float64
numBorrowers            17 non-null float64
orgDebttoIncomeRatio    17 non-null float64
propertyState           17 non-null object
zipCodeShort            17 non-null int64
foreclosed              17 non-null object
dtypes: float64(3), int64(3), object(3)
memory usage: 1.3+ KB

<bound method NDFrame.describe of                    sellerName  orgUPB  orgLTV  orgCombinedLTV  numBorrowers  \
367   JPMORGAN CHASE BANK  NA  187000      80            90.0           2.0
384   JPMORGAN CHASE BANK  NA  150000      80            95.0           1.0
526   JPMORGAN CHASE BANK  NA  110000      80            95.0           1.0
807              REGIONS BANK  118000      80            90.0           2.0
872              AMTRUST BANK  200000      68            70.0           2.0
901   JPMORGAN CHASE BANK  NA  140000      80            95.0           1.0
1735             AMTRUST BANK   75000      64            65.0           2.0
1901                    OTHER   98000      80            95.0           1.0
2320  JPMORGAN CHASE BANK  NA  253000      79            89.0           2.0
2405  JPMORGAN CHASE BANK  NA  153000      80            90.0           2.0
2512                    OTHER   90000      44            54.0           2.0
2710  JPMORGAN CHASE BANK  NA  180000      80            90.0           1.0
2719                    OTHER  240000      56            75.0           1.0
3771  JPMORGAN CHASE BANK  NA  165000      97           100.0           2.0
3904                    OTHER  146000      73            90.0           2.0
4671  JPMORGAN CHASE BANK  NA  146000      97           100.0           2.0
4705  JPMORGAN CHASE BANK  NA  124000      80            95.0           2.0

      orgDebttoIncomeRatio propertyState  zipCodeShort foreclosed
367                   31.0            MI           483         no
384                   37.0            MA            21         no
526                   45.0            TX           752         no
807                   39.0            TX           782         no
872                   27.0            OH           450         no
901                   18.0            VA           225         no
1735                  22.0            NC           277         no
1901                  27.0            GA           300         no
2320                  34.0            CA           953         no
2405                  18.0            FL           339         no
2512                  31.0            SD           570         no
2710                  36.0            IL           606         no
2719                  39.0            TX           787         no
3771                  38.0            CA           926         no
3904                  46.0            IL           600         no
4671                  44.0            CA           920         no
4705                  38.0            MD           219         no  >

In [238]:
# more pre processing
le = preprocessing.LabelEncoder()
seller = le.fit(file['sellerName'])
list(seller.classes_)
seller.transform(file['sellerName'])
file['seller'] = seller.transform(file['sellerName'])
state = le.fit(file['propertyState'])
list(state.classes_)
file['state'] = state.transform(file['propertyState'])
file = file.drop(columns=['sellerName','propertyState'])
file.columns.tolist()
file.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17 entries, 367 to 4705
Data columns (total 9 columns):
orgUPB                  17 non-null int64
orgLTV                  17 non-null int64
orgCombinedLTV          17 non-null float64
numBorrowers            17 non-null float64
orgDebttoIncomeRatio    17 non-null float64
zipCodeShort            17 non-null int64
foreclosed              17 non-null object
seller                  17 non-null int64
state                   17 non-null int64
dtypes: float64(3), int64(5), object(1)
memory usage: 1.3+ KB

In [239]:
# scaling
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
to_scale = ['orgUPB','orgLTV','orgCombinedLTV','numBorrowers','orgDebttoIncomeRatio']
file[['orgUPB','orgLTV','orgCombinedLTV','numBorrowers','orgDebttoIncomeRatio']] = scaler.fit_transform(file[['orgUPB','orgLTV','orgCombinedLTV','numBorrowers','orgDebttoIncomeRatio']])#file.describe

#scaler.fit_transform(file[['orgUPB']])
#scaler.transform([[75000]])
#scaler.fit_transform(file[['orgUPB']])
#scaler.fit_transform([[130000]])

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/data.py:323: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [240]:
# scaler fn
def scale(X,orig):
    maxv = orig.max()
    minv = orig.min()
    X_std = (X - minv) / (maxv - minv)
    #X_scaled = X_std * (maxv - minv) + minv
    return [X_std]

In [241]:
# random shuffle
file_shuffled = shuffle(file, random_state=0)
x = file_shuffled.drop(columns=['foreclosed'])
y = file_shuffled['foreclosed']

In [242]:
# divide into training and test
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.30, random_state=42)

In [243]:
# fit model
clf = tree.DecisionTreeClassifier() #decision tree gives best results as per WEKA
clf = clf.fit(X_train, y_train)

In [244]:
# test accuracy
from sklearn.metrics import accuracy_score
y_predict = clf.predict(X_test)
accuracy_score(y_test, y_predict)

1.0

In [245]:
yt = y_test.tolist()
yp = y_predict.tolist()
type(yt)

list

In [246]:
for v in range(len(y_test)):
    print(f'actual: {yt[v]}, p: {yp[v]}')

actual: no, p: no
actual: no, p: no
actual: no, p: no
actual: no, p: no
actual: no, p: no
actual: no, p: no

In [247]:
def foreclosure_test_model(orgUPB=75000,orgLTV=79,orgCLTV=54,numB=2,dtir=31.0,zipc=173,seller_='JPMORGAN CHASE BANK  NA',state_='TX'):
    dic = {'orgUPB':[orgUPB], 'orgLTV':[orgLTV], 'orgCombinedLTV':[orgCLTV], 'numBorrowers':[numB], 'orgDebttoIncomeRatio':[dtir],'zipCodeShort':[zipc],'seller':[seller_],'state':[state_]}
    df = pd.DataFrame.from_dict(dic)
    seller = le.fit(org_file['sellerName'])
    df['seller']=seller.transform(df['seller'])
    state = le.fit(org_file['propertyState'])
    df['state']=state.transform(df['state'])
    df['orgUPB']= scale(df['orgUPB'][0], org_file['orgUPB'])
    df['orgLTV']= scale(df['orgLTV'][0], org_file['orgLTV'])
    df['orgCombinedLTV']= scale(df['orgCombinedLTV'][0], org_file['orgCombinedLTV'])
    df['numBorrowers']= scale(df['numBorrowers'][0], org_file['numBorrowers'])
    df['orgDebttoIncomeRatio']= scale(df['orgDebttoIncomeRatio'][0], org_file['orgDebttoIncomeRatio'])
    ypred = clf.predict(df)
    return ypred

In [248]:
# test
'''
orgUPB=75000
orgLTV=79
orgCLTV=54
numB=2
dtir=31.0
zipc=173
seller_='JPMORGAN CHASE BANK  NA'
state_='TX'
dic = {'orgUPB':[orgUPB], 'orgLTV':[orgLTV], 'orgCombinedLTV':[orgCLTV], 'numBorrowers':[numB], 'orgDebttoIncomeRatio':[dtir],'zipCodeShort':[zipc],'seller':[seller_],'state':[state_]}
df = pd.DataFrame.from_dict(dic)
seller = le.fit(org_file['sellerName'])
df['seller']=seller.transform(df['seller'])
state = le.fit(org_file['propertyState'])
df['state']=state.transform(df['state'])
df['orgUPB']= scale(df['orgUPB'][0], org_file['orgUPB'])
df['orgLTV']= scale(df['orgLTV'][0], org_file['orgLTV'])
df['orgCombinedLTV']= scale(df['orgCombinedLTV'][0], org_file['orgCombinedLTV'])
df['numBorrowers']= scale(df['numBorrowers'][0], org_file['numBorrowers'])
df['orgDebttoIncomeRatio']= scale(df['orgDebttoIncomeRatio'][0], org_file['orgDebttoIncomeRatio'])
df
'''

"\norgUPB=75000\norgLTV=79\norgCLTV=54\nnumB=2\ndtir=31.0\nzipc=173\nseller_='JPMORGAN CHASE BANK  NA'\nstate_='TX'\ndic = {'orgUPB':[orgUPB], 'orgLTV':[orgLTV], 'orgCombinedLTV':[orgCLTV], 'numBorrowers':[numB], 'orgDebttoIncomeRatio':[dtir],'zipCodeShort':[zipc],'seller':[seller_],'state':[state_]}\ndf = pd.DataFrame.from_dict(dic)\nseller = le.fit(org_file['sellerName'])\ndf['seller']=seller.transform(df['seller'])\nstate = le.fit(org_file['propertyState'])\ndf['state']=state.transform(df['state'])\ndf['orgUPB']= scale(df['orgUPB'][0], org_file['orgUPB'])\ndf['orgLTV']= scale(df['orgLTV'][0], org_file['orgLTV'])\ndf['orgCombinedLTV']= scale(df['orgCombinedLTV'][0], org_file['orgCombinedLTV'])\ndf['numBorrowers']= scale(df['numBorrowers'][0], org_file['numBorrowers'])\ndf['orgDebttoIncomeRatio']= scale(df['orgDebttoIncomeRatio'][0], org_file['orgDebttoIncomeRatio'])\ndf\n"

In [249]:
# delinquency

In [250]:
# zero balance code

# Bokeh Structure

In [270]:
import bokeh
from bokeh.models.glyphs import Text
from bokeh.io import output_notebook, show
#from bokeh.plotting import output_server
from bokeh.layouts import widgetbox
from bokeh.models.widgets import Button, RadioButtonGroup, Select, Slider, TextInput

In [271]:
original['sellerName'].unique()
original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4892 entries, 0 to 4891
Data columns (total 26 columns):
loanID                                4892 non-null int64
origChannel                           4892 non-null object
sellerName                            4892 non-null object
origIntRate                           4892 non-null float64
orgUPB                                4892 non-null int64
orgLoanTerm                           4892 non-null int64
orginationDate                        4892 non-null object
firstPaymentDate                      4892 non-null object
orgLTV                                4892 non-null int64
orgCombinedLTV                        18 non-null float64
numBorrowers                          4886 non-null float64
orgDebttoIncomeRatio                  4697 non-null float64
borrowerCreditScoreAtOrigination      4759 non-null float64
firstTimeHomeBuyer                    4892 non-null object
loanPurpose                           4892 non-null object
propType                              4892 non-null object
numUnits                              4892 non-null int64
occType                               4892 non-null object
propertyState                         4892 non-null object
zipCodeShort                          4892 non-null int64
priMortgageInsurancePercent           1605 non-null float64
prodType                              4892 non-null object
coBorrowerCreditScoreAtOrigination    2492 non-null float64
mortInsType                           1605 non-null float64
reloMortIndicator                     4892 non-null object
foreclosed                            4892 non-null object
dtypes: float64(8), int64(6), object(12)
memory usage: 993.8+ KB

In [272]:
select1 = Select(title="Seller", value="foo", options=original['sellerName'].tolist())
select2 = Select(title="State", value="foo", options=original['propertyState'].tolist())
#heading = Text('Foreclosure Prediction:')
button_1 = Button(label="Foreclosure Prediction:")
upb = TextInput(
    value='75000',
    title='origUPB',
)
ltv = TextInput(    value='79',    title='orig ltv',)
cltv = TextInput(    value='54',    title='orig cltv',)
numb = TextInput(    value='2',    title='num of borrowers',)
dtir = TextInput(    value='31.0',    title='dti ratio',)
show(widgetbox(button_1, select1, select2, upb,width=300))
output_notebook